.countdown__timer {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;	
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 266px;
    height: 32px;
    margin: 2px auto 30px;
}

.countdown__block {
    position: relative;
    -webkit-flex-basis: 51px;
    -ms-flex-preferred-size: 51px;
    flex-basis: 51px;
    background-color: rgba(249, 197, 33, 1);
    line-height: 1;
    text-align: center;
    padding: 0;
    font-size: 33.5px;
    border-radius: 8px;
}

.timer__text {
    position: absolute;
    bottom: -33%;
    left: 0%;
    width: 51px;
    color: rgba(249, 197, 33, 1);
    font-size: 9px;
}


.workshop-countdown .call_participate {
    width: 140px;
    margin: 0 auto;
    height: 31px;
    font-size: 13px;
    line-height: 31px;
    vertical-align: middle;
}
/*countdown==================*/

/*415px======================*/

.workshop-countdown .countdown__timer {
        max-width: 345px;
        height: 46px;
        margin-top: 7px;
        margin-bottom: 41px;
    }
    .countdown__block {
        -webkit-flex-basis: 67px;
        -ms-flex-preferred-size: 67px;
        flex-basis: 67px;
        font-size: 49px;
        line-height: 0.95;
    }
    .timer__text {
        font-size: 12.5px;
        width: 67px;
        bottom: -45%;
    }
    .workshop-countdown .call_participate {
        width: 183px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        vertical-align: middle;
    }

/*768px======================*/
.workshop-countdown .countdown__timer {
        margin-top: 7px;
    }
    .workshop-countdown .countdown__timer, .workshop-prices .countdown__timer {
        max-width: 320px;
        height: 42px;
        margin-bottom: 38px;
    }
     .workshop-countdown .countdown__block, .workshop-prices .countdown__block {
        flex-basis: 61px;
        font-size: 44px;
    }
    .workshop-countdown .countdown__block::after,
    .workshop-prices .countdown__block::after {
        left:-29%;
    }
    .timer__text {
        width: 61px;
    }
    .workshop-countdown .call_participate {
        width: 169px;
        height: 37px;
        font-size: 16px;
        line-height: 37px;
    }

/*992px======================*/
 .workshop-countdown .countdown__timer {
        max-width: 418px;
        height: 55px;
        margin-bottom: 56px;
    }
    .workshop-countdown .countdown__block {
        flex-basis: 81px;
        font-size: 59px;
    }
    .timer__text {
        width: 81px;
        font-size: 16px;
    }
    .workshop-countdown .call_participate {
        width: 182px;
        height: 39px;
        font-size: 17px;
        line-height: 39px;
    }


    /*prices==========*/
    .workshop-prices .countdown-wrapper {
    color:#333;
    padding:0;

}
.workshop-prices-countdown {
    max-width:245px;
}
.workshop-prices .time-dots--after::after {
    left:-23%;
}

/*415px======================*/
.workshop-prices .countdown__timer {
        max-width: 310px;
        height: 41px;
        margin-bottom: 44px;
    }
    .workshop-prices .countdown__block {
        flex-basis: 60px;
        font-size: 44px;
    }
    .workshop-prices .timer__text {
        width: 60px;
    }
/*768px======================*/


/*992px======================*/