/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgba(244, 244, 244, 1);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
  General custom styles
   ========================================================================== */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway",  sans-serif;
    font-weight: 700;
}


/*==========
rgba(0,66,107,1) blue for bg
rgba(23,49,66,0.5) dark blue for bg
rgba(249,197,33,1); yellow for text
rgba(0,175,129,1); green
===colors*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title--primary {
    font-size: 20px;
    margin: 0 auto;
}

.title--secondary {
    font-size: 15px;
    margin: 0 auto;
}
.title-secondary--bigger {
    font-size: 16px;
}

.title-secondary-smaller {
    font-size: 14px;
}

.title--tertiary {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.6;
}

.title-quaternary {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}

.title-quarternary-smaller {
    font-size: 11px;
}


/*===============SITE_____HEADER*/

.site-header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 66, 107, 0.75)), to(rgba(0, 66, 107, 0.75))), url(../img/header/header-bg.jpg) no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(0, 66, 107, 0.75), rgba(0, 66, 107, 0.75)), url(../img/header/header-bg.jpg) no-repeat center center;
    background: -o-linear-gradient(left, rgba(0, 66, 107, 0.75), rgba(0, 66, 107, 0.75)), url(../img/header/header-bg.jpg) no-repeat center center;
    background: linear-gradient(to right, rgba(0, 66, 107, 0.75), rgba(0, 66, 107, 0.75)), url(../img/header/header-bg.jpg) no-repeat center center;
    background-size: cover;
}

.header-top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 65px;
    background-color: rgba(23, 49, 66, 0.5);
}

.wrapper-logo {
    -webkit-flex-basis: 130px;
    -ms-flex-preferred-size: 130px;
    flex-basis: 130px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.call-info {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.call--link {
    -webkit-flex-basis: 26px;
    -ms-flex-preferred-size: 26px;
    flex-basis: 26px;
}

.phone-list {
    -webkit-flex-basis: 98px;
    -ms-flex-preferred-size: 98px;
    flex-basis: 98px;
    padding-left: 15px;
}

.call-link-number {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.header-bottom {
    text-align: center;
    color: #fff;
}

.header-title {
    margin: 0 auto;
    line-height: 2.5em;
}

.header-title:after {
    width: 18.5%;
    top: 47%;
    left: 40%;
}

.header-preferences {
    max-width: 260px;
    margin: -5px auto 0;
    padding-left: 18%;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.preferences-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.preferences-list-item::after {
    top: -5%;
    left: -11%;
}


/*===============WORKSHOP_____QUESTIONS*/

.workshop_questions {
    overflow: hidden;
    padding-bottom: 18px;
}

.workshop-questions-title {
    text-align: center;
    margin: 1em 0;
}

.workshop-questions-title::after {
    bottom: -0.5em;
    left: 40%;
    width: 18.5%;
}

.hero_answers {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.wrapper-hero_answer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}

.wrapper-hero_answer {
    margin-bottom: 5px;
}
.wrapper-hero_answer:last-of-type {
    margin-bottom:0px;
}

.answer-number {
    -webkit-box-flex:1;
    -webkit-flex:1 0 21px;
        -ms-flex:1 0 21px;
            flex:1 0 21px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0,175,129,1);
    text-align: center;
    color:#fff;
    font-size: 14.5px;
}
.answer-number span {
     margin:auto;
}

.answer-text {
    -webkit-flex-basis: calc(100% - 33px);
    -ms-flex-preferred-size: calc(100% - 33px);
    flex-basis: calc(100% - 33px);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.answer-text h4 {
    margin: 0;
}


/*===============WORKSHOP_____COUNTDOWN*/

.workshop-countdown {
    overflow: hidden;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.64)), to(rgba(0, 0, 0, 0.64))), url(../img/main/chairs_bg.jpg) no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(../img/main/chairs_bg.jpg) no-repeat center center;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(../img/main/chairs_bg.jpg) no-repeat center center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(../img/main/chairs_bg.jpg) no-repeat center center;
    background-size: cover;
}

.workshop-countdown-title,
.timer-title {
   margin:16px auto 8px;
    color: #fff;
}

.countdown-wrapper {
    padding-bottom: 21px;
}


/*===========COUNTDOWN_TIMER*/

.countdown__timer {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 266px;
    height: 32px;
    margin: 2px auto 30px;
}

.countdown__block {
    position: relative;
    -webkit-flex-basis: 51px;
    -ms-flex-preferred-size: 51px;
    flex-basis: 51px;
    background-color: rgba(249, 197, 33, 1);
    line-height: 1;
    text-align: center;
    padding: 0;
    font-size: 33.5px;
    border-radius: 8px;
}

.timer__text {
    position: absolute;
    bottom: -33%;
    left: 0%;
    width: 51px;
    color: rgba(249, 197, 33, 1);
    font-size: 9px;
}



.workshop-countdown .call_participate {
    width: 140px;
    margin: 0 auto;
    height: 31px;
    font-size: 13px;
    line-height: 31px;
    vertical-align: middle;
}




/*===============WORKSHOP_____BENEFITS*/

.workshop-benefits {
    text-align: center;
}

.benefits-title {
    margin: 1.125em auto 2em;
}

.benefits-title::after {
    width: 18.5%;
    bottom: -50%;
    left: 41%;
    max-width: 105px;
}

.benefits-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.benefit-block {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.benefit-img--round {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 3px solid rgba(17, 186, 138, 1);
    border-radius: 50%;
}

.benefit-img--round-1 {
    background: url(../img/main/benefit_bg-1.jpg) no-repeat center center;
    background-size: cover;
}

.benefit-img--round-2 {
    background: url(../img/main/benefit_bg-2.jpg) no-repeat center center;
    background-size: cover;
}

.benefit-img--round-3 {
    background: url(../img/main/benefit_bg-3.jpg) no-repeat center center;
    background-size: cover;
}

.benefit-img--round-4 {
    background: url(../img/main/benefit_bg-4.jpg) no-repeat center center;
    background-size: cover;
}

.benefit-img--round-5 {
    background: url(../img/main/benefit_bg-5.jpg) no-repeat center center;
    background-size: cover;
        background-size: 156%;
    background-position: 50% 4%;
}

.benefit-img--round-6 {
    background: url(../img/main/benefit_bg-6.jpg) no-repeat center center;
    background-size: cover;
}

.benefit-img--round-7 {
    background: url(../img/main/benefit_bg-7.jpg) no-repeat center center;
    background-size: cover;
}


/*===============WORKSHOP_____GOALS*/

.workshop-goals {
    overflow: hidden;
}

.goals-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 295px;
    margin: 0 auto;
    border-radius: 5px;
}

.goals-title {
    text-align: center;
    margin-top:25px;
    margin-bottom:1.85em;
    line-height: 1.2;

}

.goals-title:after {
    width: 17.5%;
    bottom: -13%;
    left: 40%;
}

.goal-block {
    margin-bottom: 18px;
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 16px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}
/*IMAGES===layer 0&1====*/
.goal-img {
    position: relative;
    width: 259px;
    height: 140px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.goal-img::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.65);
}

.goal-img-1 {
    background-image: url(../img/main/goal_bg-1.jpg);
    background-position: 50% 1%;
    background-size: 106%;
}

.goal-img-2 {
    background-image: url(../img/main/goal_bg-2.jpg);
    background-position: 50% 62%;
    background-size: 110%;
}

.goal-img-3 {
    background-image: url(../img/main/goal_bg-3.jpg);
    background-position: 50% 55%;
}
/*TITLE & STROKE=====layer 2==*/
.goal-block::after {
    width: 35px;
    top: 138px;
    left: 22px;
    z-index: 3;
}

.goal-single-title {
    position: absolute;
    top: 86px;
    left: 22px;
    z-index: 3;
    margin: 0 auto;
    color: #fff;
    line-height: 1.23;
}
.goal-single-title.goal-2stroke-title {
    top:101px;
}
.goal-descrp {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.21;
    padding-left: 1.7%;
}


/*===============WORKSHOP_____AIDA*/

.athention-block {
    overflow: hidden;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 66, 107, 0.7)), to(rgba(0, 66, 107, 0.7))), url(../img/main/athention_bg.jpg) no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(0, 66, 107, 0.7), rgba(0, 66, 107, 0.7)), url(../img/main/athention_bg.jpg) no-repeat center center;
    background: -o-linear-gradient(left, rgba(0, 66, 107, 0.7), rgba(0, 66, 107, 0.7)), url(../img/main/athention_bg.jpg) no-repeat center center;
    background: linear-gradient(to right, rgba(0, 66, 107, 0.7), rgba(0, 66, 107, 0.7)), url(../img/main/athention_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.athention-block .athention-pretitle {
    margin: 1.5em auto 10.5px;
    font-size: 11px;
}

.athention-title--big {
    line-height: 1.9;
    padding-right: 3%;
    padding-left: 3%;
}

.athention-title--regular {
    line-height: 2.05;
}

.athention-block .time-and-place {
    margin: 2.5px auto 0px;
    margin-bottom: 17px;
}
.int-desire-block {
    overflow: hidden;
}
 .int-desire-title  {
    text-align: center;
    margin-bottom: 0.73em;
    line-height: 3.066;
}

.int-desire-title:after {
    width: 18.5%;
    bottom: 0%;
    left: 43%;
}

.desire-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1.66em;
}

.desire--block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 246px;
}

.desire-list--item {
    line-height: 1.32;
    margin-bottom: 10px;
}

.desire-list--item:after {
    width: 13px;
    height: 13px;
    top: -5%;
    left: -18.72px;
}

.action-block {
    overflow: hidden;
    text-align: center;
    padding-bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(44, 60, 66, 0.8)), to(rgba(44, 60, 66, 0.8))), url(../img/main/action_bg.jpg) no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(44, 60, 66, 0.8), rgba(44, 60, 66, 0.8)), url(../img/main/action_bg.jpg) no-repeat center center;
    background: -o-linear-gradient(left, rgba(44, 60, 66, 0.8), rgba(44, 60, 66, 0.8)), url(../img/main/action_bg.jpg) no-repeat center center;
    background: linear-gradient(to right, rgba(44, 60, 66, 0.8), rgba(44, 60, 66, 0.8)), url(../img/main/action_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.action-block-title {
    margin-top: 1.33em;
    margin-bottom: 1.25em;
    line-height: 1.28;
}

.action-block .call_participate {
    width: 140px;
    height: 41px;
    padding-top: 7px;
    margin-bottom: 22px;
}


/*===============WORKSHOP_____CORRESPOND*/

.workshop-correspond {
    text-align: center;
}

.fits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fit-block {
    width: 89.7%;
    max-width: 350px;
    overflow: hidden;
    padding: 8px;
}

.fits-title {
    line-height: 2em;
    margin: 7px 0 1.2em;
}

.fits-title::after {
    width: 50px;
    bottom: -15%;
    left: 42%;
}

.fit-list {
    padding: 1.36em 1.25em 1.18em 34px;
    background-color: #fff;
    font-size: 11px;
    border-radius: 5px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}

.fit-list-item,
.notfit-list-item {
    margin-bottom: 0.75em;
}

.fit-list-item:after,
.notfit-list-item:after {
    top: 2px;
    left: -18px;
}

.workshop-correspond .call_participate {
    width: 140px;
    height: 40px;
    margin: 16px auto 22px;
    padding: 0.6em 1.56em;
    line-height: 1.16em;
}


/*===============WORKSHOP_____MANIFEST*/

.workshop-manifest {
    background: -webkit-gradient(linear, left top, right top, from(rgba(45, 45, 45, 0.9)), to(rgba(45, 45, 45, 0.9))), url(../img/main/manifest_bg.jpg) no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9)), url(../img/main/manifest_bg.jpg) no-repeat center center;
    background: -o-linear-gradient(left, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9)), url(../img/main/manifest_bg.jpg) no-repeat center center;
    background: linear-gradient(to right, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9)), url(../img/main/manifest_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.manifest {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
     justify-content: center;
    
}
.manifest-block {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
.manifest-block-1,
.manifest-block-2 {
    text-align: center;
    line-height: 1.27;
    margin-top: 1.27em;
}
 .manifest-block-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 204px;
    -ms-flex: 0 1 204px;
    flex: 0 1 204px;
}

 .manifest-block-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 295px;
    -ms-flex: 0 1 295px;
    flex: 0 1 295px;
    margin-bottom: 26px;
}

.manifest-block-2:after {
    width: 17.5%;
    max-width:68px;
    bottom: -13px;
    left: 40%;

}

 .manifest-block-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 92vw;
    -ms-flex: 0 1 92vw;
    flex: 0 1 92vw;
    margin: 0;
    text-align: justify;
    line-height: 1.6;
}

 .manifest-block-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 75vw;
    -ms-flex: 0 1 75vw;
    flex: 0 1 75vw;
    margin: 0.8em auto 0.6em;
    text-align: center;
    line-height: 1.27;
    font-weight: bold;
}

/*===============WORKSHOP____PROGRAM*/

.workshop-program {
    overflow: hidden;
    text-align:center;
}
.title-program{
    margin: 1em auto;

}
.title-program:after {
    width: 18.5%;
    bottom:-0.65em;
    left:40%;
}

.curriculum-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align:left;
}
.curriculum-block {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    -webkit-align-content:flex-start;
        -ms-flex-line-pack:start;
        align-content:flex-start;

}
.curriculum-issue {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row nowrap;
        -ms-flex-flow:row nowrap;
            flex-flow:row nowrap;
    -webkit-box-flex:0;
    -webkit-flex:0 1 100%;
        -ms-flex:0 1 100%;
            flex:0 1 100%;
    margin-bottom: 0.9em;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}
.hidden--descrp {
    display: none;
    flex-basis: 90%;
    margin-left: 10%;
    margin-bottom:15px;
    background-color:#fff;
    border-radius: 5px;
    padding:12px 8px 12px 18px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}

#hidden_descrp5,
#hidden_descrp10 {
    margin-top: 19px;
}

.descrp-text {
    position: relative;
}
.descrp-text::after {
    position: absolute;
    content: " ";
    display: block;
    top: 0.4em;
    left: -1em;
    width: 0.55em;
    height: 0.55em;
    background: url(../img/icons/bullet-orange.svg) no-repeat center center;
    background-size:cover;
}
.curriculum-toggle--block {
    -webkit-box-flex:0;
    -webkit-flex:0 0 10%;
        -ms-flex:0 0 10%;
            flex:0 0 10%;
    background: rgba(0,175,129,1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.toggle-button {
    -webkit-box-flex:0;
    -webkit-flex:0 0 70%;
        -ms-flex:0 0 70%;
            flex:0 0 70%;
    height:70%;
    margin: auto;
    background: url(../img/icons/plus_toggle--green.svg) no-repeat center center;
    cursor:pointer;
}
.curriculum-title--block {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
    height:50px;
    background-color:#fff;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.curriculum-issue--title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin:0;
    padding-left: 18px;

}
.issue-number {
    -webkit-box-flex:0;
    -webkit-flex:0 0 51px;
        -ms-flex:0 0 51px;
            flex:0 0 51px;
}
.issue-title {

}
.workshop-program .call_participate {
    width:140px;
    height:40px;
    margin: 1.37em auto;
    padding: 0.6em 1.56em;
    line-height: 1.16em;
}


/*===============WORKSHOP____BONUSES*/
.workshop-bonuses-header {
    overflow: hidden;
    background:-webkit-gradient(linear, left top, right top, from(rgba(0,66,107,0.75)), to(rgba(0,66,107,0.75))), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:-webkit-linear-gradient(left, rgba(0,66,107,0.75), rgba(0,66,107,0.75)), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:-o-linear-gradient(left, rgba(0,66,107,0.75), rgba(0,66,107,0.75)), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:-webkit-gradient(linear, left top, right top, from(rgba(0,66,107,0.75)), to(rgba(0,66,107,0.75))), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:-webkit-linear-gradient(left, rgba(0,66,107,0.75), rgba(0,66,107,0.75)), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:-o-linear-gradient(left, rgba(0,66,107,0.75), rgba(0,66,107,0.75)), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background:linear-gradient(to right, rgba(0,66,107,0.75), rgba(0,66,107,0.75)), url(../img/main/header-bonuses_bg.jpg) no-repeat 46% 20% ;
    background-size: 327%;
    margin-bottom:13px;
}

.workshop-bonuses-title {
    width:68%;
    margin:0 auto;
    color:#fff;
    text-align: center;
    font-size:18px;
    line-height: 1.5;
    margin: 10px auto;
}
.wrapper-bonuses {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.bonus--block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 18px;
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 16px;
    -webkit-box-flex:0;
    -webkit-flex:0 1 290px;
        -ms-flex:0 1 290px;
            flex:0 1 290px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}
.bonus--block:after {
    width: 35px;
    top: 138px;
    left: 22px;
    z-index: 3;
}
.bonus-img {
     position: relative;
    width: 259px;
    height: 140px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.bonus-img::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.65);
}
.bonus-title{
    position: absolute;
    left: 22px;
    z-index: 3;
    margin: 0 auto;
    color: #fff;
    line-height: 1.23;
}
.bonus-title-1 {
    top:115px;
}
.bonus-title-2 {
    top:102px;
}
.bonus-title-3 {
    top:86px;
}

.bonus-img-1 {
    background-image: url(../img/main/bonus_img-1.jpg);
    background-position: 50% 1%;
    background-size: 106%;
}

.bonus-img-2 {
    background-image: url(../img/main/bonus_img-2.jpg);
    background-position: 50% 62%;
    background-size: 110%;
}

.bonus-img-3 {
    background-image: url(../img/main/bonus_img-3.jpg);
    background-position: 50% 55%;
}

.bonus-descrp {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.21;
    padding-left: 1.7%;
}

.bonus-descrp .small {
    display: block;
    margin-top:10px;
 font-weight:300;
}


.workshop_bonuses-footer {
    text-align: center;
    overflow:hidden;
    background:
    -webkit-gradient(linear,left top, right top,from(rgba(0,0,0,0.68)),to(rgba(0,0,0,0.68)) ),
    url(../img/main/bonus-footer_bg.jpg) no-repeat;
    background:
    -webkit-linear-gradient(left,rgba(0,0,0,0.68),rgba(0,0,0,0.68) ),
    url(../img/main/bonus-footer_bg.jpg) no-repeat;
    background:
    -o-linear-gradient(left,rgba(0,0,0,0.68),rgba(0,0,0,0.68) ),
    url(../img/main/bonus-footer_bg.jpg) no-repeat;
    background:
    linear-gradient(to right,rgba(0,0,0,0.68),rgba(0,0,0,0.68) ),
    url(../img/main/bonus-footer_bg.jpg) no-repeat;
    background-size:351%;
    background-position:47% 96%;
    color:#fff;
}

.bonus-footer-title {
    margin-top:26px;
    margin-bottom: 26px;
}

.workshop_bonuses-footer .call_participate {
    width:140px;
    height:40px;
    margin-bottom:1.5em;
    padding: 7px 16px 8px;
    line-height:1.15em;
}

/*===============WORKSHOP____SERTIFICATE*/
.workshop-sertificate {

}
.results-block {
    overflow: hidden;
    /*width:76%;
    margin:0 auto;*/
    padding: 0px 10vw;
    background-color:#fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}

 .results-title {
    margin:5px auto 15px;
    line-height: 3em;
}

.results-title:after {
    width:20%;
    bottom:0;
    left:0%;
}

.results-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left:3vw;
    max-width: 250px;
}

.result-block-img {
    height: 146px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 238px;
        -ms-flex: 0 1 238px;
            flex: 0 1 238px;
    margin: 0 auto 0 0;
    background:url(../img/main/result_bg.jpg) no-repeat center center;
    background-size:cover;
    border-radius:5px;
}
.result-block-text {
    -webkit-box-flex:0;
    -webkit-flex:0 1 249px;
        -ms-flex:0 1 249px;
            flex:0 1 249px;
}
.result--descrp {
    margin-top:1.25em;
    text-align: justify;
}

.sertificate-block {
    padding:0 12.5%;
    text-align: center;
    overflow: hidden;
}
.sertificate-block-title {
    line-height: 1.25;
    margin:18px auto 15px;
}
.sertificate-img-wrapper {
    display: inline-block;
    width:88%;
    max-width: 235px;
    margin-bottom: 14px;
    border-radius:5px;
    padding:2.15%  2.3%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}
.sertificate-img {
    width: 100%;
}
.workshop_sertificate-footer {
    text-align: center;
    overflow: hidden;
    background:
    -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.59)),to(rgba(0,0,0,0.59))),
    url(../img/main/sertif_footer_bg.jpg) no-repeat 50% 99%;
    background:
    -webkit-linear-gradient(left, rgba(0,0,0,0.59),rgba(0,0,0,0.59)),
    url(../img/main/sertif_footer_bg.jpg) no-repeat 50% 99%;
    background:
    -o-linear-gradient(left, rgba(0,0,0,0.59),rgba(0,0,0,0.59)),
    url(../img/main/sertif_footer_bg.jpg) no-repeat 50% 99%;
    background:
    linear-gradient(to right, rgba(0,0,0,0.59),rgba(0,0,0,0.59)),
    url(../img/main/sertif_footer_bg.jpg) no-repeat 50% 99%;
    background-size:400%;
    color:#fff;

}
.sertificate-footer-wrapper {
    overflow: hidden;
}
.sertificate-footer-title {
    width: 81.25%;
    margin:1em auto 0.86em;
    line-height:1.25;
}
.workshop_sertificate-footer .call_participate {
    width:140px;
    height:35px;
    line-height: 1.16;
    padding: 7px 16px;
    margin-bottom: 1.22em;
}
/*===============WORKSHOP____TEACHER*/
.workshop-teacher {
    overflow: hidden;
}
.workshop-teacher-title {
    text-align:center;
}
.workshop-teacher-title.title--secondary {
    width: 81.25%;
    margin:21px auto 16px;
}

.teacher-block-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    width: 93.75%;
    max-width: 365px;
    margin: 0 auto 17px;
    padding: 12px 23px;
    background-color: #fff;
    border-radius:5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}

.workshop-teacher-title.title--tertiary {
    line-height:1.76;
    margin: 0;
}
.workshop-teacher-title.title--tertiary:after {
    width: 18.5%;
    bottom:-0.7em;
    left: 40%;
}
.teacher-block {
    position:relative;
    margin-top: 24px;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
}
.teacher-portrait {
    max-width: 218px;
    margin:auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 67.5%;
        -ms-flex: 0 1 67.5%;
            flex: 0 1 67.5%;
}
.teacher-sertificate {
    margin:auto;
    -webkit-box-flex:0;
    -webkit-flex:0 1 78%;
        -ms-flex:0 1 78%;
            flex:0 1 78%;
}

.teacher--portrait {
    max-width: 100%;
}
.teacher-portrait--img {
    width: 100%;
    border-radius:5px;
}

.teacher-name {
    text-align: center;
}

/*SLIDER*/
/*Set max width of slider element to achieve smooth regressive resizing
Установка максимальной ширины элемента слайдера для правильного 
ресайзинга */
.slider-item-wrapper {
    max-width: 249px !important;
}

.slide-img {
    display: block;
    width: 100%;
    max-width: 100% !important;
}

.bx-wrapper {
    margin:0;
    border:none;
    -webkit-box-shadow:none;
            box-shadow:none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
            box-shadow: 0px 0px 10px 0px rgba(198,198,198,0.75);
}
.control-slider {
    position: absolute;
    width:8px;
    height:16px;
    bottom: 15%;
    z-index: 9999;
    border:none;
}

.control-slider .bx-next, .control-slider .bx-prev {
    color:transparent;
}
 .slide-prev {
    left:3%;
    background:url(../img/main/slider/arrow-left.svg) no-repeat center center;
}
.slide-next {
    right:3%;
    background:url(../img/main/slider/arrow-right.svg) no-repeat center center;
}


/*TEACHER DESCRIPTION*/
.teacher-descrp-block{
    padding-right:2.9%;
    padding-left:2.9%;
}
.teacher-sertificate {

}
.teacher--descrp {
    text-align:justify;
}
/*===============WORKSHOP____PRICES*/
.workshop-prices {
    color:#fff;
    background: 
    -webkit-gradient(linear, left top, right top, from(rgba(10,39,63,0.8)), to(rgba(10,39,63,0.8))),
    url(../img/main/prices_bg.jpg) no-repeat 23% 50%;
    background: 
    -webkit-linear-gradient(left, rgba(10,39,63,0.8), rgba(10,39,63,0.8)),
    url(../img/main/prices_bg.jpg) no-repeat 23% 50%;
    background: 
    -o-linear-gradient(left, rgba(10,39,63,0.8), rgba(10,39,63,0.8)),
    url(../img/main/prices_bg.jpg) no-repeat 23% 50%;
    background: 
    linear-gradient(to right, rgba(10,39,63,0.8), rgba(10,39,63,0.8)),
    url(../img/main/prices_bg.jpg) no-repeat 23% 50%;
    background-size: 260%;
}
.prices-wrapper {
    overflow: hidden;
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    width: 80%;
    max-width:330px;
    margin:0 auto;
    padding: 5px;

}
.prices-block {
    margin:auto;
}
.prices-block1 { 
    text-align:center;
    padding-left:2.6%;
    padding-right:1.4%;
 }
 .block1-title {
    line-height: 1.25em;
 }
.block1-title--question {
    margin-top: 0.7em;
    margin-bottom:1em;
}
.block1-title-caution {
    margin-bottom:10px;
}
.prices-block1 .call_participate {
    width:140px;
    height: 35px;
    line-height:1.15em;
    padding:5px 33px;
    margin-bottom:1.25em;
}

.workshop-prices .countdown-wrapper {
    color:#333;
    padding:0;

}
.workshop-prices-countdown {
    max-width:245px;
}
.workshop-prices .time-dots--after::after {
    left:-23%;
}
 .text-gift, .text-more {
    text-align:left;
    max-width: 260px;
    margin:0;
 }
 .text-gift {
    line-height:1.25em;
    font-weight:bold;
 }
 .prices-block2 {
    margin-top:18px;
 }
 .date-tobuy {
    text-align:left;
    font-size:13px;
    line-height: 1.3;
    padding-left: 3px;
 }
 .price-tobuy {
    float:right;
 }
 .date-tobuy.pricelist-last-stroke {
    margin-bottom:20px;
 }
 .pricelist-last-stroke::after {
    width:12%;
    bottom:-0.77em;
    left:0%;
 }

/*===============WORKSHOP____WARRANTY*/
.warranty-wrapper {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
    width: 90.625%;
    margin:0 auto;
    padding-left:6.3%;
}
.warranty-text, .warranty-img-wrapper {
    margin:auto;
}
.warranty-text {
    -webkit-box-flex:0;
    -webkit-flex:0 1 350px;
        -ms-flex:0 1 350px;
            flex:0 1 350px;
}
.warranty-title {
    margin:23px auto;
    line-height: 1.25em;
}
.warranty-title::after{
    width:20%;
    bottom:-0.875em;
    left:0%;
}

.warranty-img-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1  48%;
        -ms-flex: 0 1  48%;
            flex: 0 1  48%;
    max-width: 182px;
    margin-bottom:14px;

}

/*===============WORKSHOP____PS*/
.workshop-ps {
    color: #fff;
    background:
    -webkit-gradient(linear, left top, right top, from(rgba(10,39,63,0.9)),  to(rgba(10,39,63,0.9))),
    url(../img/main/ps_bg.jpg) no-repeat 35% 50%;
    background:
    -webkit-linear-gradient(left, rgba(10,39,63,0.9),  rgba(10,39,63,0.9)),
    url(../img/main/ps_bg.jpg) no-repeat 35% 50%;
    background:
    -o-linear-gradient(left, rgba(10,39,63,0.9),  rgba(10,39,63,0.9)),
    url(../img/main/ps_bg.jpg) no-repeat 35% 50%;
    background:
    linear-gradient(to right, rgba(10,39,63,0.9),  rgba(10,39,63,0.9)),
    url(../img/main/ps_bg.jpg) no-repeat 35% 50%;
    background-size: 250%;
}

.ps-wrapper {
    overflow: hidden;
    padding:1px;
    max-width: 375px;
    margin:0 auto;
}

.ps-title {
    margin-top: 1em;
    line-height: 1.25;
}


.ps-questions-block {
    padding-left:17px;
    font-size: 11px;
}

.ps-question::after {
    width: 11px;
    height: 11px;
    top:0.27em;
    left:-1.5em;
}
.ps-footer-title {
     pspadding-right:14px;
    margin-bottom:2em;
}

/*===============WORKSHOP____BAGGAGE*/


.baggage-wrapper {
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    padding-bottom: 13px;
}
.baggage-text-wrapper,.baggage-img-wrapper {
    margin:auto;
}
.baggage-text-wrapper {
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 360px;
        -ms-flex: 0 1 360px;
            flex: 0 1 360px;
}
.baggage-title {
    margin-top:0.73em;
    line-height: 2.2;
}
.baggage-title:after  {
    width:20%;
    left:0%;
    bottom:-0.6em;
}
.baggage-list {
    margin-top:29px;
    padding-left:6.3%;
}
 .baggage-img-wrapper {
    -webkit-box-flex:0;
    -webkit-flex:0 1 320px;
        -ms-flex:0 1 320px;
            flex:0 1 320px;
 }
 .baggage--img {
    max-width: 100% !important; 
 }
.baggage-descrp::after{ 
    width:11px;
    height: 11px;
    top:0.25em;
    left:-1.41em;
 }

/*===============WORKSHOP___MAP*/
.geolocation-wrapper {
    position: relative;
    min-height: 500px;
    width:100%;
   /* overflow: hidden;*/
}

/*.geolocation-wrapper,.geolocation-wrapper  * {
    overflow: hidden;
    box-sizing: border-box;
}*/

.gmap {
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.contact-blocks-wrapper {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    width:100%;
    overflow: hidden;
    max-width: 325px;
    height: 500px;
    margin:0 auto;
   /* padding: 9px 0px;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
/*   -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;*/
            -webkit-align-content: space-around;
-ms-flex-line-pack: distribute;
align-content: space-around;
padding:60px 0px 0px;


}
.contact-block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    z-index: 100;
    color:#fff;
    max-width: 250px;
    -webkit-box-flex:0;
    -webkit-flex:0 1 335px;
        -ms-flex:0 1 335px;
            flex:0 1 335px;
    background-color: rgba(10,39,63,0.89);
    border-radius:5px;
}

.contact-block--order {
    text-align:center;
}
.order-block-title {
    margin-top:0.46em;
    margin-bottom: 0.53em;
    line-height:1.46;
}
.contact-block--order .call_participate {
    width:140px;
    height:38px;
    margin-bottom:0.82em;
    padding: 0.62em 22px;
    font-size:11.3px;

}
.contact-block--info {
    padding-left:6.9%;
    margin-top:40px;
}
.order-info-title {
    margin-top:1em;
    margin-bottom:0;
    line-height: 1.46;
}
.order-info-title::after{
    width:22.5%;
    bottom:-0.8em;
    left:0;
}
.contact-list {
    overflow: hidden;
    margin-top:2em;
    font-size:9.2px;
    padding-left:8.4%;
}
.contact-list-item {
    position: relative;
}
.contact-list-item::after {
    position: absolute;
    content: "";
    display: block;
    top:2px;
    left:-1.5em;
}
.contact-list-item:first-of-type  {
    margin-top:0;
}

.phone_call,.email_send {
    color:#fff;
    line-height: 1;
}
.list-item-adress, .list-item-time {
    line-height: 1.45;
}

.list-item-phone::after {
    background:url(../img/icons/phone_fill.svg) no-repeat center center;
    background-size:cover;
    width: 1em;
    height: 1em;
}


.list-item-email::after {
    width: 1em;
    height: 0.7em;
    background:url(../img/icons/mail.svg) no-repeat center center;
    background-size:cover;
}

.list-item-adress::after {
    width:0.81em;
    height: 1.03em;
    background:url(../img/icons/pointer_blue.svg) no-repeat center center;
    background-size:cover;
}

.list-item-time::after {
     width: 1em;
    height: 1em;
    background:url(../img/icons/clocks.svg) no-repeat center center;
    background-size:cover;
}



/*===============SITE__FOOTER*/

.site-footer {
    background-color:rgba(23,49,66,1);
}
.footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    padding-bottom: 9px;
}
.footer-block-1 {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
        -ms-flex-order:1;
            order:1;
}
.footer-block-2 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group:4;
    -webkit-order:3;
        -ms-flex-order:3;
            order:3;
    text-align:center;
    color:#fff;
}
.footer-block .small {
    font-size:0.9em; 
}

.inner-link {
    color: inherit;
    font-size: 9px;
    line-height: 2.1;
}

.footer-block-3 {
    -webkit-box-ordinal-group:3;
    -webkit-order:2;
        -ms-flex-order:2;
            order:2;
}
.footer-block-4 {
    -webkit-box-ordinal-group:5;
    -webkit-order:4;
        -ms-flex-order:4;
            order:4;
    -webkit-flex-basis:55px;
        -ms-flex-preferred-size:55px;
            flex-basis:55px;
}
.footer-socials {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.social-img-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25px;
        -ms-flex: 0 1 25px;
            flex: 0 1 25px;
    height: 25px;
}

/* ==
========================================================================
   Helper classes
   ========================================================================== */
.visible-sm {
    display: none;
}
.visible-md {
    display: none;
}
.outline-zero:focus {
    outline:none;
}
/*======TEXT-MODIFIER*/
.text-plain {
    font-weight: normal;
}
.text-plain--bigger {
    font-family: "Releway", sans-serif;
}
.text--bold {
    font-weight:bold;
}
.text-uppercase {
    text-transform: uppercase;
}

.text-linethrough {
    text-decoration: line-through;
}

.text--wrm_yellow {
    color: rgba(249, 197, 33, 1);
}


/*======MARKUP-MODIFIER*/

.padding-r_l--small {
    padding-left: 4%;
    padding-right: 4%;
}

.padding-r_l--big {
    padding-left: 5.5%;
    padding-right: 5.5%;
}

.last-list-item {
    margin-bottom: 0 !important;
}

.flex-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.time-and-place {
    margin-top: 0;
    font-weight: bold;
    font-size: 15px;
}

.icon-inblock-wrapper .icon-wrapper {
    display: inline-block;
    width: 13px;
    height: 18px;
    margin: 0 5px;
    background: url(../img/icons/pointer_fill--green.svg) no-repeat center center;
}


/*======AFTER/BEFORE-ELEMENTS*/

.yellow-stroke--after {
    position: relative;
}

.yellow-stroke--after::after {
    position: absolute;
    content: "";
    display: block;
    z-index: 2000;
    /*60px-76px*/
    height: 3px;
    background-color: rgba(249, 197, 33, 1);
    border-radius: 1.5px;
}

.checked-green_white--after {
    position: relative;
}

.checked-green_white--after::after {
    position: absolute;
    content: "";
    display: block;
    z-index: 100;
    background: url(../img/icons/cheklist_mark--done.svg) no-repeat center center;
}

.xsign-red_white--after {
    position: relative;
}

.xsign-red_white--after::after {
    position: absolute;
    content: "";
    display: block;
    background: url(../img/icons/checklist_mark--not.svg) no-repeat center center;
}

.icon-checked--big::after {
    width: 20px;
    height: 20px;
}

.icon-checked--middle::after {
    width: 16px;
    height: 16px;
}

.icon-checked---small::after {
    width: 12px;
    height: 12px;
}


/*.time-dots--after {
    position: relative;
}*/

.time-dots--after::after {
    position: absolute;
    content: ":";
    display: block;
    top: 30%;
    left: -30%;
    font-size: 33px;
    line-height: 8.03px;
    color: rgb(249, 197, 33);
}


/*======CUSTOM-ELEMENTS*/

.call_participate {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    border:none;
    border-radius: 5px;
    background-color: rgba(0, 175, 129, 1);
    color: #fff;
    line-height: 1.25;
    font-weight: bold;
}