@media only screen and (min-width: 415px) {
    /* ======@media COMMON RULES======*/
    .title--primary {
        font-size: 25px;
    }
    .title--secondary {
        font-size: 20px;
    }
    .title-secondary--bigger {
        font-size: 20px;
    }
    .title-secondary-smaller {
        font-size: 17px;
    }
    .title--tertiary {
        font-size: 16px;
    }
    .title-quaternary {
        font-size: 12px;
    }
    .title-quarternary-smaller {
        font-size: 12px;
    }
    .time-and-place {
        font-size: 20px;
    }
    .time-dots--after::after {
        left: -26%;
    }
    .man_br-hide-415 {
        display: none;
    }
    /*===============SITE_____HEADER*/
    .wrapper-logo {
        -webkit-flex-basis: 160px;
        -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    }
    .call-info {
        -webkit-flex-basis: 190px;
        -ms-flex-preferred-size: 190px;
        flex-basis: 190px;
    }
    .call--link {
        -webkit-flex-basis: 34px;
        -ms-flex-preferred-size: 34px;
        flex-basis: 34px;
    }
    .phone-list {
        -webkit-flex-basis: 122px;
        -ms-flex-preferred-size: 122px;
        flex-basis: 122px;
    }
    .call-link-number {
        font-size: 14px;
    }
    .header-preferences {
        max-width: 325px;
        margin: 0 auto;
        padding-left: 9%;
    }
    .preferences-list-item::after {
        left: -9%;
    }
    .header-title {
        max-width: 425px;
        margin: 0 auto;
    }
    .header-title::after {
        width: 74px;
        left: 42%;
    }
    /*===============WORKSHOP_____QUESTIONS*/
    .workshop_questions {
        padding-bottom: 26px;
    }
    .wrapper-hero_answer:last-of-type {
        -webkit-flex-basis: 47px;
        -ms-flex-preferred-size: 47px;
        flex-basis: 47px;
    }
    .workshop-questions-title {
        margin: 21px auto 34px;
    }
    .workshop-questions-title::after {
        max-width: 95px;
        bottom: -0.75em;
    }
    .hero_answers {
        max-width: 450px;
        margin: 0 auto;
    }
    .answer-number {
        font-size: 19px;
    }
    /*===============WORKSHOP_____COUNTDOWN*/
    .workshop-countdown .countdown__timer {
        max-width: 345px;
        height: 46px;
        margin-top: 7px;
        margin-bottom: 41px;
    }
    .countdown__block {
        -webkit-flex-basis: 67px;
        -ms-flex-preferred-size: 67px;
        flex-basis: 67px;
        font-size: 49px;
        line-height: 0.95;
    }
    .workshop-countdown .countdown__block::after,
    .workshop-prices .countdown__block::after {
        font-size: 49px;
    }
    .timer__text {
        font-size: 12.5px;
        width: 67px;
        bottom: -45%;
    }
    .workshop-countdown .call_participate {
        width: 183px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        vertical-align: middle;
    }
    /*===============WORKSHOP_____BENEFITS*/
    .benefit-img--round {
        width: 105px;
        height: 105px;
    }
    .benefit-descrp {
        margin-bottom: 18px;
    }
    /*===============WORKSHOP_____GOALS*/
    .goals-wrapper {
        width: 235px;
    }
    .goal-block {
        padding: 18px 19px;
    }
    .goals-title {
        margin-top: 12px;
    }
    /*IMAGES===layer 0&1====*/
    .goal-img {
        width: 198px;
        height: 181px;
    }
    .goal-img-1 {
        background-size: 123%;
        background-position: 0% 0%;
    }
    .goal-img-2 {
        background-size: 138%;
    }
    .goal-img-3 {
        background-image: url(../img/main/goal_bg-3.jpg);
        background-position: 50% 69%;
    }
    /*TITLE & STROKE=====layer 2==*/
    .goal-single-title {
        top: 115px;
        left: 32px;
    }
    .goal-single-title.goal-2stroke-title {
        top: 132px;
    }
    .goal-block::after {
        top: 182px;
        left: 32px;
    }
    .goal-descrp {
        width: 84.5%;
        padding-left: 5.1%;
        font-size: 12px;
        line-height: 1.45;
    }
    /*===============WORKSHOP_____AIDA*/
    .athention-block .athention-pretitle {
        margin: 0.8125em auto 1em;
        font-size: 16px;
    }
    .athention-block .time-and-place {
        margin-top: 13.5px;
        margin-bottom: 14px;
    }
    .desire-wrapper {
        padding-bottom: 1.91em;
    }
    .desire--block {
        width: 295px;
    }
    .desire-list--item {
        font-size: 14px;
        line-height: 1.47;
    }
    .desire-list--item:after {
        width: 16px;
        height: 16px;
        top: 3%;
        left: -27px;
    }
    .action-block-title {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .action-block .call_participate {
        width: 183px;
        height: 52px;
        font-size: 16px;
        line-height: 1.225;
        margin-bottom: 26px;
    }
    /*===============WORKSHOP_____CORRESPOND*/
    .fit-block {
        width: 350px;
    }
    .fits-title {
        margin: 5px 0 1.2em;
    }
    .fits-title::after {
        width: 62px;
    }
    .fit-list {
        font-size: 12px;
        padding: 1.58em 1.25em 1.16em 58px;
    }
    .fit-list-item:nth-of-type(1),
    .fit-list-item:nth-of-type(2),
    .notfit-list-item:nth-of-type(1) {
        margin-bottom: 33px;
    }
    .fit-list-item:nth-of-type(3) {
        margin-bottom: 28px;
    }
    .fit-list-item:nth-of-type(4) {
        margin-bottom: 16px;
    }
    .notfit-list-item:nth-of-type(2) {
        margin-bottom: 19px;
    }
    .notfit-list-item:nth-of-type(4) {
        margin-bottom: 17px;
    }
    .fit-list-item::after,
    .notfit-list-item::after {
        top: -1px;
        left: -22px;
        width: 16px;
        height: 16px;
    }
    .workshop-correspond .call_participate {
        width: 183px;
        height: 51px;
        margin-top: 20px;
        font-size: 16px;
        padding: 0.5em 1.25em;
    }
    /*===============WORKSHOP_____MANIFEST*/
    .manifest-block-1 {
        margin-top: 0.85em;
    }
    .manifest-block-2 {
        line-height: 1.35;
    }
    .manifest-block-1,
    .manifest-block-2 {
        flex-basis: 450px;
    }
    .manifest-block-3 {
        line-height: 2.33;
        flex-basis: 87vw;
        max-width: 573px;
        text-align: left;
    }
    .man_br-hide-415 {
        display: none;
    }
    .manifest-block-4 {
        margin-top: 0.5em;
        margin-bottom: 0.85em;
    }
    /*===============WORKSHOP_____PROGRAM*/
    .title-program {
        width: 70%;
        margin-top: 0.75em;
        margin-bottom: 1.5em;
    }
    .title-program:after {
        max-width: 85px;
    }
    .curriculum-wrapper {
        max-width: 460px;
        margin: 0 auto;
    }
    .curriculum-issue {
        margin-bottom: 1.25em;
    }
    .curriculum-title--block {
        height: 52px;
    }
    .issue-number {
        flex-basis: 55px;
    }
    .workshop-program .call_participate {
        width: 181px;
        height: 52px;
        font-size: 16px;
    }
    /*===============WORKSHOP_____BONUSES*/
    .workshop_bonuses-header {
        margin-bottom: 20px;
    }
    .bonus--block {
        flex: 0 1 235px;
        padding: 16px 18px;
        margin: 0 15% 18px;
    }
    .workshop-bonuses-title {
        font-size: 23px;
    }
    .bonus-title {
        left: 29px;
    }
    .bonus-title-1 {
        top: 153px;
    }
    .bonus-title-2 {
        top: 133px;
    }
    .bonus-title-3 {
        top: 112px;
    }
    .bonus--block:after {
        top: 180px;
        left: 29px;
    }
    .bonus-img {
        width: 195px;
        height: 180px;
        background-position: 50% 50%;
        background-size: 141%;
    }
    .bonus-descrp {
        margin-top: 21px;
        font-size: 12px;
        line-height: 1.45;
    }
    .bonus-footer-title {
        margin-bottom: 30px;
    }
    .workshop_bonuses-footer .call_participate {
        width: 183px;
        height: 51px;
        font-size: 17px;
    }
    /*===============WORKSHOP_____SERTIFICATE*/
    .results-title {
        margin: 0px auto 22px;
        line-height: 2.7;
    }
    .results-wrapper {
        max-width: 310px;
    }
    .result-block-img {
        flex-basis: 310px;
    }
    .result-block-text {
        flex-basis: 310px;
    }
    .result--descrp {
        margin: 16px auto 23px;
    }
    .sertificate-block-title {
        margin-top: 15px;
        margin-bottom: 45px;
    }
    .sertificate-img-wrapper {
        margin-bottom: 25px;
        max-width: 300px;
    }
    .workshop_sertificate-footer .call_participate {
        width: 183px;
        height: 46px;
        font-size: 15.5px;
    }
    /*===============WORKSHOP_____TEACHER*/
    .teacher-block-wrapper {
        margin-bottom: 25px;
        padding-bottom: 28px;
    }
    .workshop-teacher-title.title--secondary {
        margin: 26px auto 27px;
    }
    .workshop-teacher-title.title--tertiary {
        font-size: 17px;
    }
    .teacher-block {
        margin-top: 32px;
    }
    .workshop-teacher-title.title--tertiary:after {
        max-width: 81px;
        bottom: -0.8em;
    }
    .teacher-portrait {
        flex-basis: 68.5%;
    }
    .teacher-name {
        margin-bottom: 18px;
    }
    /*===============WORKSHOP_____PRICES*/
    .workshop-prices {
        background-size: 100%;
        background-position: 23 0%;
    }
    .prices-block1 .call_participate {
        width: 183px;
        height: 45px;
        font-size: 15.5px;
        margin-bottom: 1.5em;
    }
    .date-tobuy {
        padding-left: 0;
        font-size: 17px;
    }
    .workshop-prices .countdown__timer {
        max-width: 310px;
        height: 41px;
        margin-bottom: 44px;
    }
    .workshop-prices .countdown__block {
        flex-basis: 60px;
        font-size: 44px;
    }
    .workshop-prices .timer__text {
        width: 60px;
    }
    .text-gift {
        font-size: 15px;
        letter-spacing: -0.03em;
    }
    .text-gift span {
        font-weight: 900;
    }
    .text-more {
        margin-top: 5px;
    }
    .text-gift,
    .text-more {
        max-width: 310px;
    }
    .block2-title {
        margin-bottom: 19px;
    }
    .extra_info {
        font-size: 15px;
    }
    /*===============WORKSHOP_____WARRANTY*/
    .warranty-title {
        margin: 18px auto 32px;
    }
    .warranty-descrp {
        margin-bottom: 0px;
    }
    .warranty-img-wrapper {
        margin-top: 23px;
        margin-bottom: 39px;
    }
    /*===============WORKSHOP_____PS*/
    .ps-title {
        margin-bottom: 15px;
    }
    .ps-questions-block {
        padding-left: 45px;
        font-size: 12px;
    }
    .ps-question::after {
        width: 13.7px;
        height: 13.7px;
        left: -1.75em;
        top: 0.11em;
    }
    .ps-footer-title {
        margin-top: 18px;
        margin-bottom: 27px;
        padding-left: 20px;
    }
    /*===============WORKSHOP_____BAGGAGE*/
    .baggage-list {
        margin-top: 20px;
        padding-left: 24px;
    }
    .baggage-title {
        padding-left: 3px;
    }
    .baggage-title:after {
        bottom: -0.25em;
        left: 3px;
    }
    .baggage-descrp {
        font-size: 14px;
        line-height: 1.25em;
    }
    .baggage-descrp::after {
        width: 14px;
        height: 14px;
        left: -1.5em;
        top: 0.2em;
    }
    .baggage-img-wrapper {
        flex-basis: 414px;
    }
    /*===============WORKSHOP_____MAP*/
    .geolocation-wrapper {
        min-height: 650px;
    }
    .gmap iframe {
        height: 650px !important;
    }
    .contact-blocks-wrapper {
        height:650px;
        padding-top:108px;
        padding-bottom: 10px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
    }
    .contact-block {
        max-width: 335px;
    }
    .contact-block--info {
        padding-left: 25px;
    }
    .order-block-title,
    .order-info-title {
        font-size: 17px;
        margin-top: 10px;
    }
    .contact-block--order .call_participate {
        width: 183px;
        height: 49px;
        margin-bottom: 0.82em;
        font-size: 15px;
    }
    .order-info-title::after {
        width: 74px;
        bottom: -0.55em;
        left: 0;
    }
    .contact-list {
        font-size: 12px;
        padding-left: 18px;
    }
    .contact-list-item::after {
        top: 3px;
    }
    .order-info-title::after {
        left: -2px;
    }
    /*===============SITE_____FOOTER*/
    .footer-wrapper {
        padding-bottom: 15px;
    }
    .footer-block-2 .small {
        font-size: 14px;
    }
    .inner-link {
        font-size: 12px;
    }
    .footer-block-3 {
        flex-basis: 205px;
    }
    .footer-block-4 {
        flex-basis: 70px;
    }
    .social-img-wrapper {
        flex-basis: 32px;
        height: 32px;
    }
}

@media only screen and (min-width:768px) {
    /* ======@media COMMON RULES======*/
    .title--primary {
        font-size: 28px;
    }
    .title--secondary {
        font-size: 20px;
    }
    .title-secondary-smaller {
        font-size: 17px;
    }
    .title--tertiary {
        font-size: 16px;
    }
    .title-quaternary {
        font-size: 14px;
    }
    .title-quarternary-smaller {
        font-size: 16px;
    }
    .time-and-place {
        font-size: 20px;
    }
    .time-dots--after::after {
        left: -26%;
    }
    .visible-sm {
        display: inline;
    }
    .visible-xs {
        display: none;
    }
    .padding-r_l--small {
        padding-left: 6%;
        padding-right: 6%;
    }
    .icon-inblock-wrapper .icon-wrapper {
        width: 12.5px;
        height: 16px;
    }
    /*===============SITE_____HEADER*/
    .header-top {
        min-height: 44px;
    }
    .header-top .wrapper-logo {
        flex-basis: 96px;
        padding: 0px;
    }
    .wrapper-logo .logo-link {
        height: 100%;
        display: block;
        line-height: 44px;
    }
    .header-top .call-info {
        flex-basis: 170px;
        padding: 0px;
    }
    .call-link-number {
        font-size: 12px;
    }
    .call--link {
        flex-basis: 28px;
    }
    .phone-list {
        padding-left: 0px;
        flex-basis: 115px;
    }
    .phone-list-item {
        text-align: right;
    }
    .preferences-list-item {
        font-size: 14px;
    }
    .preferences-list-item:not(:last-child) {
        margin-bottom: 13px;
    }
    .icon-checked--big::after {
        width: 24px;
        height: 24px;
    }
    .preferences-list-item::after {
        left: -7%;
        top: -23%;
    }
    .header-preferences {
        max-width: 425px;
        padding-bottom: 33px;
        padding-left: 160px;
    }
    .header-bottom .time-and-place {
        margin-bottom: 12px;
    }
    .header-bottom .title--tertiary {
        margin: 0px auto 18px;
    }
    .header-title {
        max-width: 600px;
        line-height: 1.8em;
        margin-top: 12px;
    }
    .header-title::after {
        width: 69px;
        left: 43%;
    }
    /*===============WORKSHOP_____QUESTIONS*/
    .workshop_questions {
        padding-bottom: 52px;
    }
    .workshop-questions-title {
        font-size: 31px;
        margin: 24px auto 45px;
    }
    .workshop-questions-title::after {
        width: 12.3%;
        max-width: 127px;
        left: 42%;
        bottom: -0.65em;
    }
    .hero_answers {
        max-width: 570px;
    }
    .answer-number {
        flex-basis: 41px;
        font-size: 26px;
    }
    .answer-text {
        padding-top: 0;
        padding-bottom: 0;
    }
    .wrapper-hero_answer {
        min-height: 46px;
        margin-bottom: 12px;
    }
    .wrapper-hero_answer:last-of-type {
        min-height: 66px
    }
    /*===============WORKSHOP_____COUNTDOWN*/
    .workshop-countdown {
        background-position: 50% 100%;
    }
    .countdown-wrapper {
        padding-bottom: 23px;
    }
    .workshop-countdown-title {
        font-size: 20px;
        line-height: 1.4;
    }
    .timer-title {
        margin-top: 23px;
    }
    .workshop-countdown .countdown__timer {
        margin-top: 7px;
    }
    .workshop-countdown .countdown__timer,
    .workshop-prices .countdown__timer {
        max-width: 320px;
        height: 42px;
        margin-bottom: 38px;
    }
    .workshop-countdown .countdown__block,
    .workshop-prices .countdown__block {
        flex-basis: 61px;
        font-size: 44px;
    }
    .workshop-countdown .countdown__block::after,
    .workshop-prices .countdown__block::after {
        left: -29%;
        font-size: 44px;
    }
    .timer__text {
        width: 61px;
    }
    .workshop-countdown .call_participate {
        width: 169px;
        height: 37px;
        font-size: 16px;
        line-height: 37px;
    }
    /*===============WORKSHOP_____BENEFITS*/
    .benefits-wrapper {
        padding: 0;
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
    }
    .benefits-title {
        font-size: 26px;
    }
    .benefits-title::after {
        bottom: -68%;
    }
    .benefit-block {
        flex-basis: 25%;
    }
    .benefit-img--round {
        width: 116px;
        height: 116px;
    }
    .benefit-descrp {
        margin-bottom: 22px;
        font-size: 14px;
    }
    .benefit-block-1 {
        order: 1;
    }
    .benefit-block-2 {
        order: 2;
    }
    .benefit-block-3 {
        order: 3;
    }
    .benefit-block-4 {
        order: 5;
    }
    .benefit-block-5 {
        order: 6;
    }
    .benefit-block-6 {
        order: 4;
    }
    .benefit-block-7 {
        order: 7;
    }
    /*===============WORKSHOP_____GOALS*/
    .workshop-goals {
        padding-left: 2.7%;
        padding-right: 2.7%;
    }
    .goals-wrapper {
        width: 712px;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .goals-title {
        margin-top: 28px;
        margin-bottom: 40px;
        font-size: 26px;
    }
    .goals-title:after {
        width: 82px;
        bottom: -21%;
        left: 45%;
    }
    .goal-block {
        flex-basis: 190px;
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 34px;
    }
    /*IMAGES===layer 0&1====*/
    .goal-img {
        width: 190px;
        height: 175px;
    }
    /*TITLE & STROKE=====layer 2==*/
    .goal-block::after {
        width: 41px;
    }
    /*===============WORKSHOP_____AIDA*/
    .athention-block {
        background-position: center 20%;
    }
    .athention-block .athention-pretitle {
        margin-top: 1.0625em;
        margin-bottom: 0.75em;
    }
    .athention-title--big {
        line-height: 1.7;
    }
    .athention-title--regular {
        font-size: 17px;
    }
    .int-desire-title {
        font-size: 28px;
    }
    .int-desire-title::after {
        width: 85px;
        left: 45%;
    }
    .desire-wrapper {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 652px;
        margin: 0 auto;
    }
    .desire--block {
        flex-basis: 45%;
    }
    .desire-list--item {
        font-size: 15px;
    }
    .desire-list--item::after {
        top: 3px;
    }
    .action-block .call_participate {
        width: 145px;
        height: 41px;
        font-size: 13px;
        padding-top: 5px;
    }
    /*===============WORKSHOP_____CORRESPOND*/
    .fits-title {
        font-size: 27px;
        line-height: 1.3;
        margin: 11px auto 1.6em;
    }
    .fits-title::after {
        bottom: -60%;
    }
    .fit-block {
        width: 450px;
        max-width: 600px;
    }
    .fit-list {
        font-size: 15px;
        padding: 1.66em 1em 1.46em 4.73em;
    }
    .fit-list-item:nth-of-type(1),
    .fit-list-item:nth-of-type(2),
    .fit-list-item:nth-of-type(3) {
        margin-bottom: 17px;
    }
    .fit-list-item:nth-of-type(4),
    .notfit-list-item:nth-of-type(n+2) {
        margin-bottom: 12px;
    }
    .fit-list-item::after,
    .notfit-list-item::after {
        top: 1px;
    }
    .notfit-list-item:nth-of-type(1) {
        margin-bottom: 14px;
    }
    .workshop-correspond .call_participate {
        width: 191px;
        height: 54px;
        font-size: 17px;
        margin-bottom: 22px;
    }
    /*===============WORKSHOP_____MANIFEST*/
    .man_br-hide-415 {
        display: inline;
    }
    .manifest-block-1,
    .manifest-block-2 {
        flex-basis: 500px;
    }
    .manifest-block-2 {
        margin-top: 10px;
        margin-bottom: 21px;
        line-height: 1.7;
    }
    .manifest-block-3 {
        text-align: justify;
        font-size: 14px;
        line-height: 1.46;
    }
    .manifest-block-2:after {
        width: 68px;
        left: 43%;
        bottom: -10px;
    }
    .manifest-block-4 {
        margin-top: 0.7em;
        margin-bottom: 0.65em;
    }
    /*===============WORKSHOP_____PROGRAM*/
    .curriculum-title--block {
        height: 68px;
    }
    .curriculum-issue {
        font-size: 15px;
    }
    .issue-number {
        flex-basis: 68px;
    }
    .hidden--descrp {
        font-size: 15px;
    }
    /*===============WORKSHOP_____BONUSES*/
    .workshop-bonuses-header {
        background-size: 100%;
        background-position: 50% 60%;
    }
    .workshop-bonuses-title {
        width: 86%;
        line-height: 29px;
        margin: 28px auto;
    }
    .wrapper-bonuses {
        max-width: 717px;
        margin: 0 auto 28px;
        justify-content: space-between;
    }
    .bonus--block {
        margin: 0;
        flex: 0 1 186px;
        padding: 18px 17px 11px;
    }
    .bonus-img {
        width: 186px;
        background-size: 145%;
    }
    .bonus-footer-title {
        font-size: 18px;
        margin: 15px auto 12px;
    }
    .workshop_bonuses-footer {
        background-size: 100%;
    }
    .workshop_bonuses-footer .call_participate {
        width: 155px;
        height: 42px;
        font-size: 15px;
        padding-top: 4px;
        margin-bottom: 11px;
    }
    /*===============WORKSHOP_____SERTIFICATE*/
    .results-block-wrapper {
        margin-top: 51px;
        background-color: #fff;
    }
    .results-block {
        margin: 0 auto;
        width: 655px;
        padding: 0;
    }
    .results-title {
        margin: 10px auto 23px 0px;
    }
    .results-wrapper {
        max-width: 100%;
        padding: 0;
        margin-bottom: 55px;
        justify-content: space-between;
    }
    .result-block-img {
        flex-basis: 289px;
        height: 178px;
        margin: 0;
    }
    .result-block-text {
        flex-basis: 342px;
    }
    .result--descrp {
        margin: 0;
        line-height: 1.55;
    }
    .sertificate-block {
        padding: 0 7.5%;
    }
    .sertificate-block-title {
        font-size: 25px;
        margin-top: 29px;
        margin-bottom: 13px;
    }
    .sertificate-img-wrapper {
        width: 45%;
        max-width: 423px;
        padding: 8px;
        margin-bottom: 21px;
    }
    .workshop_sertificate-footer {
        background-size: 100%;
    }
    .sertificate-footer-wrapper.flex-parent-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 26px 20px 13px 0px;
    }
    .sertificate-footer-title {
        text-align: left;
        flex: 0 1 430px;
        margin: 0px 20px 0px 0px;
        font-size: 18px;
    }
    .sertificate-link-wrapper {
        flex: 0 1 176px;
    }
    .workshop_sertificate-footer .call_participate {
        margin-bottom: 0;
        width: 176px;
        height: 43px;
        padding-top: 4px;
    }
    .workshop_sertificate-footer .time-and-place {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }
    /*===============WORKSHOP_____TEACHER*/
    .workshop-teacher-title.title--secondary {
        font-size: 24px;
        line-height: 1.66;
    }
    .workshop-teacher-title.title--tertiary:after {
        left: 44%;
    }
    .teacher-block {
        justify-content: space-between;
        margin-top: 35px;
    }
    .teacher-block-wrapper {
        max-width: 706px;
        padding: 19px 29px 28px;
        margin-bottom: 39px;
    }
    .teacher-portrait {
        max-width: 268px;
        margin: 0;
        flex: 0 1 194px;
    }
    .teacher-name {
        margin-top: 13px;
        margin-bottom: 14px;
    }
    .teacher-sertificate {
        margin: 0 5% 0 0;
        flex: 0 1 356px;
    }
    /*===SLIDER====START*/
    .slider-item-wrapper {
        max-width: 356px !important;
    }
    .control-slider {
        width: 16px;
        height: 32px;
        bottom: 55%;
        z-index: 9999;
    }
    .control-slider .bx-next,
    .control-slider .bx-prev {
        color: transparent;
    }
    .slide-prev {
        left: 35%;
    }
    .slide-next {
        right: 0%;
    }
    /*===SLIDER====END*/
    .teacher--descrp {
        font-size: 14px;
        margin-bottom: 17px;
    }
    /*===============WORKSHOP_____PRICES*/
    .prices-wrapper {
        box-sizing: border-box;
        max-width: 681px;
        width: 89.4%;
        padding: 41px 5px 15px;
        justify-content: space-between;
    }
    .prices-block {
        margin: 0;
        padding: 0;
    }
    .block1-title {
        font-size: 21px;
    }
    .block1-title--question {
        margin-top: 0;
        margin-bottom: 28px;
    }
    .block1-title--caution {
        margin-bottom: 13px;
    }
    .prices-block1 .call_participate {
        width: 156px;
        height: 38px;
        font-size: 13px;
        margin-bottom: 26px;
    }
    .block2-title {
        margin-bottom: ;
    }
    .date-tobuy {
        margin: 13px auto;
    }
    /*===============WORKSHOP_____WARRANTY*/
    .warranty-wrapper {
        width: 85.3%;
        max-width: 1025px;
        padding: 0;
    }
    .warranty-text {
        flex-basis: 415px;
        margin-top: 0;
    }
    .warranty-img-wrapper {
        /* flex-basis: 164px;*/
        max-width: 164px;
        margin-top: 26px;
        margin-bottom: 36px;
    }
    .warranty-title {
        font-size: 23px;
        margin: 34px auto;
    }
    .warranty-descrp {
        font-size: 14px;
    }
    /*===============WORKSHOP_____PS*/
    .workshop-ps {
        background-size: 100%;
        background-position: 35% 0%;
        padding: 0;
    }
    .ps-wrapper {
        max-width: 652px;
    }
    .ps-title {
        font-size: 17px;
        margin-top: 23px;
        margin-bottom: 35px;
    }
    .ps-questions-block {
        padding-left: 66px;
        font-size: 14px;
    }
    .ps-question::after {
        width: 17px;
        height: 17px;
        left: -2em;
        top: 0em;
    }
    .ps-footer-title {
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 0;
    }
    .prime-title--separated {
        line-height: 2.8em;
    }
    /*===============WORKSHOP_____BAGGAGE*/
    .baggage-wrapper {
        padding: 0;
        justify-content: center;
    }
    .baggage-list {
        padding-left: 20px;
    }
    .baggage-title {
        margin-top: 22px;
        padding-left: 3px;
    }
    .baggage-title:after {
        width: 68px;
        left: 0px;
    }
    .baggage-descrp {
        line-height: 1.4em;
    }
    .baggage-descrp::after {
        left: -1.4em;
        top: 0.1em;
    }
    .baggage-text-wrapper {
        flex: 0 1 365px;
        margin: 0;
    }
    .baggage-img-wrapper {
        flex-basis: 289px;
        margin: 29px 0;
    }
    /*===============WORKSHOP_____MAP*/
    .geolocation-wrapper {
        min-height: 475px;
        height: 475px;
    }
    .gmap iframe {
        height: 475px !important;
    }
    .contact-blocks-wrapper {
        max-width: 932px;
        height: 475px;
        padding-top: 55px;
        width: 97%;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .contact-block {
        max-width: 250px;
    }
    .contact-block--info {
        padding-left: 25px;
    }
    .order-block-title {
        font-size: 18px;
        line-height: 1.76;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .order-info-title {
        font-size: 15px;
        margin-top: 10px;
    }
    .contact-block--order .call_participate {
        width: 201px;
        height: 53px;
        margin-bottom: 29px;
        font-size: 16px;
        padding-top: 7px;
    }
    .order-info-title::after {
        width: 49px;
        bottom: -0.85em;
        left: 0;
    }
    .contact-block--info {
        margin-top:0;
    }
    .contact-list {
        line-height: 0.9;
        padding-left: 20px;
        padding-bottom: 14px;
    }
    .contact-list-item {
        margin: 11px auto;
    }
    .list-item-adress {
        line-height: 1.29;
    }
    .list-item-time {
        margin-bottom: 0;
    }
    .contact-list-item::after {
        top: 0px;
        left: -1.55em;
    }
    .list-item-adress::after {
        left: -1.45em;
    }
    /*===============SITE_____FOOTER*/
    .site-footer {}
    .footer-wrapper {
        width: 88%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-block-1 {
        flex-basis: 147px;
    }
    .footer-block-2 {
        margin-top: 27px;
        flex-basis: 300px;
        order: 2;
    }
    .call--link {
        flex-basis: 32px;
    }
    .site-header .phone-list {
        height: 38px;
    }
    .phone-list-item {
        line-height: 1.2;
    }
    .site-header .phone-list-item:nth-of-type(1) {
        margin-bottom: 0px;
    }
    .footer-block-3 {
        flex-basis: 155px;
        margin-top: 27px;
        align-items: flex-start;
        padding: 0;
    }
    .footer-block-4 {
        flex-basis: 100%;
    }
    .inner-link-list {
        line-height: 2em;
    }
    .footer-socials {
        max-width: 86px;
        margin: auto;
    }
    .social-img-wrapper {
        flex-basis: 39px;
        height: 39px;
    }
}

@media only screen and (min-width:992px) {
    /* ======@media COMMON RULES======*/
    .title--primary {
        font-size: 37px;
    }
    .title-secondary-smaller {
        font-size: 14px;
    }
    .title--tertiary {
        font-size: 21.5px;
    }
    .title-quaternary {
        font-size: 12px;
    }
    .title-quarternary-smaller {
        font-size: 21px;
    }
    .time-and-place {
        font-size: 27px;
    }
    .time-dots--after::after {
        left: -26%;
    }
    .visible-md {
        display: initial;
    }
    .hidden-md {
        display: none;
    }
    .icon-checked--big::after {
        width: 32px;
        height: 32px;
    }
    .icon-inblock-wrapper .icon-wrapper {
        width: 16px;
        height: 21px;
    }
    /*===============SITE_____HEADER*/
    .header-top {
        min-height: 59px;
    }
    .header-top .wrapper-logo {
        flex-basis: 120px;
    }
    .wrapper-logo .logo-link {
        line-height: 59px;
    }
    .header-top .call-info {
        flex-basis: 186px;
    }
    .phone-list {
        flex-basis: 154px;
    }
    .call-link-number {
        font-size: 16px;
    }
    .call--link {
        flex-basis: 32px;
    }
    .header-preferences {
        max-width: 600px;
        padding-bottom: 46px;
        padding-left: 250px
    }
    .header-bottom .title--tertiary {
        margin-bottom: 30px;
    }
    .preferences-list-item {
        font-size: 19px;
    }
    /*===============WORKSHOP_____QUESTIONS*/
    .workshop_questions {
        padding-bottom: 52px;
    }
    .workshop-questions-title {
        margin-bottom: 48px;
        margin-top: 28px;
    }
    .hero_answers {
        max-width: 760px;
    }
    .wrapper-hero_answer {
        min-height: 61px;
        margin-bottom: 15px;
    }
    .wrapper-hero_answer:last-of-type {
        min-height: 66px
    }
    .answer-number {
        flex-basis: 52px;
        font-size: 34.5px;
    }
    .answer-text {
        padding-left: 20px;
    }
    /*===============WORKSHOP_____COUNTDOWN*/
    .countdown-wrapper {
        padding-bottom: 36px;
    }
    .workshop-countdown-title,
    .timer-title {
        font-size: 27px;
    }
    .timer-title {
        margin-top: 23px;
    }
    .workshop-countdown .countdown__timer,
    .workshop-prices .countdown__timer {
        max-width: 425px;
        height: 56px;
    }
    .workshop-countdown .countdown__timer {
        margin-bottom: 56px;
    }
    .workshop-countdown .countdown__block,
    .workshop-prices .countdown__block {
        flex-basis: 81px;
        font-size: 59px;
    }
    .workshop-countdown .countdown__block::after,
    .workshop-prices .countdown__block::after {
        font-size: 59px;
    }
    .timer__text {
        width: 81px;
        font-size: 16px;
    }
    .workshop-countdown .call_participate {
        width: 182px;
        height: 39px;
        font-size: 17px;
        line-height: 39px;
    }
    /*===============WORKSHOP_____BENEFITS*/
    .benefits-title {
        font-size: 34px;
        margin-top: 29px;
        margin-bottom: 51px;
    }
    .benefits-title::after {
        width: 103px;
        bottom: -51%;
        left: 45%;
    }
    .benefit-img--round {
        width: 152px;
        height: 152px;
    }
    .benefit-descrp {
        font-size: 19px;
        margin-bottom: 29px;
    }
    /*===============WORKSHOP_____GOALS*/
    .workshop-goals {
        padding: 0;
    }
    .goals-wrapper {
        width: 93%;
        max-width: 955px;
    }
    .goals-title {
        font-size: 34px;
        line-height: 1.58;
        margin-top: 15px;
        margin-bottom: 52px;
    }
    .goals-title:after {
        width: 110px;
        bottom: -13%;
    }
    .goal-block {
        padding: 23px 24px 36px;
        flex-basis: 254px;
        margin-bottom: 60px;
    }
    /*IMAGES===layer 0&1====*/
    .goal-img {
        width: 254px;
        height: 232px;
    }
    /*TITLE & STROKE=====layer 2==*/
    .goal-block::after {
        width: 55px;
        left: 38px;
        top: 233px;
    }
    .goal-single-title {
        top: 143px;
        left: 38px;
    }
    .goal-single-title.goal-2stroke-title {
        top: 170px;
    }
    .goal-descrp {
        font-size: 16px;
        margin-top: 25px;
    }
    /*===============WORKSHOP_____AIDA*/
    .athention-block .athention-pretitle {
        font-size: 23px;
        margin-top: 0.86em;
    }
    .athention-title--big {
        font-size: 27px;
        max-width: 1000px;
    }
    .athention-title--regular {
        font-size: 23px;
        margin-top: 5px;
    }
    .int-desire-title {
        font-size: 37px;
        margin-bottom: 35px;
    }
    .int-desire-title::after {
        width: 113px;
    }
    .desire-wrapper {
        width: 938px;
        padding-bottom: 50px;
    }
    .desire-block-1 {
        flex-basis: 417px;
    }
    .desire-block-2 {
        flex-basis: 400px;
    }
    .desire-list--item {
        font-size: 20px;
        line-height: 1.3;
    }
    .action-block-title {
        font-size: 27px;
        line-height: 1.37;
        margin-top: 27px;
        margin-bottom: 17px;
    }
    .action-block .call_participate {
        width: 194px;
        height: 55px;
        font-size: 17px;
        padding-top: 8px;
        margin-bottom: 32px;
    }
    /*===============WORKSHOP_____CORRESPOND*/
    .fits-title {
        font-size: 36px;
        margin: 1em auto 0.95em;
    }
    .fits-title::after {
        width: 73px;
        bottom: -40%;
    }
    .fit-block {
        width: 600px;
    }
    .fit-block:nth-of-type(1) {
        margin-bottom: 20px;
    }
    .fit-list {
        font-size: 20px;
        padding-top: 37px;
        padding-right: 57px;
    }
    .fit-list-item:nth-of-type(2n+1) {
        margin-bottom: 1em;
    }
    .fit-list-item::after,
    .notfit-list-item::after {
        width: 27px;
        height: 27px;
        left: -40px;
    }
    .workshop-correspond .call_participate {
        width: 254px;
        height: 72px;
        font-size: 23px;
        margin-top: 34px;
        margin-bottom: 28px;
        padding-top: 0.4em;
    }
    /*===============WORKSHOP_____MANIFEST*/
    .manifest-block-1,
    .manifest-block-2 {
        flex-basis: 650px;
    }
    .manifest-block-1 {
        font-size: 29px;
    }
    .manifest-block-2 {
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .manifest-block-3 {
        font-size: 18px;
    }
    .manifest-block-2:after {
        width: 94px;
        max-width: 94px;
    }
    .manifest-block-4 {
        font-size: 24px;
        margin: 0.75em auto;
    }
    /*===============WORKSHOP_____PROGRAM*/
    .title-program {
        font-size: 37px;
        margin-top: 36px;
        margin-bottom: 53px;
    }
    .title-program:after {
        max-width: 113px;
        left: 43%;
    }
    .curriculum-wrapper {
        max-width: 612px;
        padding: 0;
    }
    .curriculum-issue {
        font-size: 20px;
        margin-bottom: 1.25em;
    }
    .curriculum-title--block {
        height: 90px;
    }
    .curriculum-issue--title {
        padding-left: 38px;
    }
    .issue-number {
        flex-basis: 83px;
    }
    .hidden--descrp {
        padding: 15px 15px 15px 38px;
    }
    .workshop-program .call_participate {
        width: 254px;
        height: 72px;
        font-size: 23px;
        margin: 1.74em auto;
        padding-top: 0.45em;
        padding-bottom: 0.45em;
    }
    /*===============WORKSHOP_____BONUSES*/
    .workshop-bonuses-header {
        margin-bottom: 36px;
    }
    .workshop-bonuses-title {
        font-size: 30px;
        line-height: 39px;
        margin: 32px auto;
    }
    .wrapper-bonuses {
        max-width: 955px;
        margin-bottom: 35px;
    }
    .bonus--block {
        flex-basis: 294px;
        padding: 23px 23px 12px;
    }
    .bonus-img {
        width: 248px;
        height: 225px;
    }
    .bonus-title {
        left: 39px;
        font-size: 20px;
    }
    .bonus-title-1 {
        top: 197px;
    }
    .bonus-title-2 {
        top: 170px;
    }
    .bonus-title-3 {
        top: 146px;
    }
    .bonus--block:after {
        top: 231px;
        left: 39px;
    }
    .bonus-descrp {
        margin-top: 26px;
        font-size: 16px;
    }
    .bonus-footer-title {
        font-size: 24px;
        margin: 28px auto 22px;
    }
    .workshop_bonuses-footer .call_participate {
        font-size: 18px;
        width: 183px;
        height: 50px;
        margin-bottom: 20px;
    }
    /*===============WORKSHOP_____SERTIFICATE*/
    .results-block-wrapper {
        margin-top: 60px;
    }
    .results-block {
        width: 888px;
    }
    .results-title {
        font-size: 29px;
        line-height: 1.5;
        margin: 27px auto 43px 0px;
    }
    .results-title::after {
        width: 67px;
        bottom: -21px;
    }
    .result-block-img {
        flex-basis: 383px;
        height: 238px;
    }
    .result-block-text {
        flex-basis: 484px;
        font-size: 16px;
    }
    .sertificate-block {
        padding: 0 3.3%;
    }
    .sertificate-block-title {
        margin-top: 58px;
        margin-bottom: 20px;
    }
    .sertificate-img-wrapper {
        padding: 11px;
        margin-bottom: 31px;
    }
    .sertificate-footer-wrapper.flex-parent-sm {
        margin: 30px auto 15px;
    }
    .sertificate-footer-title {
        font-size: 24px;
        flex-basis: 562px;
        margin-right: 53px;
    }
    .sertificate-link-wrapper {
        flex-basis: 204px;
    }
    .workshop_sertificate-footer .call_participate {
        width: 204px;
        height: 50px;
        font-size: 17px;
        padding-top: 6px;
    }
    .workshop_sertificate-footer .time-and-place {
        margin-bottom: 7px;
        font-size: 21px;
    }
    /*===============WORKSHOP_____TEACHER*/
    .workshop-teacher-title.title-secondary {
        font-size: 32px;
        margin: 35px auto 41px;
    }
    .workshop-teacher-title.title--tertiary {
        font-size: 23px;
    }
    .teacher-block-wrapper {
        max-width: 943px;
        padding: 19px 41px 61px 37px;
        margin-bottom: 53px;
    }
    .teacher-portrait {
        flex-basis: 258px;
    }
    .teacher-name {
        font-size: 23px;
    }
    .teacher-sertificate {
        flex-basis: 474px;
        margin-right: 4%;
    }
    /*===SLIDER====START*/
    .slider-item-wrapper {
        max-width: 474px !important;
    }
    .control-slider {
        width: 19px;
        height: 37px;
    }
    .slide-prev {
        left: 36%;
    }
    /*===SLIDER====END*/
    .teacher-descrp-block {
        padding: 0;
    }
    .teacher--descrp {
        font-size: 18px;
    }
    /*===============WORKSHOP_____PRICES*/
    .prices-wrapper {
        max-width: 915px;
        padding: 60px 5px 20px;
    }
    .prices-block1 {
        flex-basis: 425px;
    }
    .block1-title {
        font-size: 28px;
    }
    .block1-title--question {
        margin-bottom: 40px;
    }
    .prices-block1 .call_participate {
        width: 208px;
        height: 51px;
        font-size: 18px;
        margin-bottom: 37px;
    }
    .text-gift,
    .text-more {
        max-width: 100%;
    }
    .text-gift {
        font-size: 20px;
    }
    .text-more {
        font-size: 15px;
    }
    .workshop-prices .countdown__timer {
        margin-bottom: 48px;
    }
    .block2-title {
        font-size: 27px;
        margin-bottom: 22px;
    }
    .date-tobuy {
        font-size: 23px;
        margin: 22px auto;
    }
    .extra_info {
        font-size: 19px;
    }
    .pricelist-last-stroke::after {
        bottom: -0.55em;
    }
    /*===============WORKSHOP_____WARRANTY*/
    .warranty-text {
        flex-basis: 600px;
        margin: 0;
    }
    .warranty-img-wrapper {
        max-width: 219px;
        margin: 36px 0px 48px auto;
    }
    .warranty-title {
        font-size: 31px;
    }
    .warranty-title::after {
        bottom: -0.575em;
    }
    .warranty-descrp {
        font-size: 19px;
    }
    /*===============WORKSHOP_____PS*/
    .ps-wrapper {
        max-width: 944px;
        padding-left: 114px;
    }
    .ps-title {
        font-size: 23px;
        margin-top: 26px;
        margin-bottom: 43px;
    }
    .ps-questions-block {
        width: 640px;
        font-size: 19px;
        padding-left: 91px;
    }
    .ps-question {
        margin: 13px auto;
    }
    .ps-question::after {
        width: 23px;
        height: 23px;
    }
    .ps-footer-title {
        font-size: 23px;
        padding-right: 50px;
    }
    /*===============WORKSHOP_____BAGGAGE*/
    .baggage-list {
        padding-left: 29px;
    }
    .baggage-title {
        font-size: 27px;
        margin-top: 34px;
    }
    .baggage-title:after {
        width: 90px;
        bottom: -0.15em;
    }
    .baggage-descrp {
        font-size: 19px;
    }
    .baggage-descrp::after {
        width: 18px;
        height: 18px;
    }
    .baggage-text-wrapper {
        flex: 0 1 510px;
    }
    .baggage-img-wrapper {
        flex-basis: 384px;
        margin: 39px 0;
    }
    /*===============WORKSHOP_____MAP*/
    .geolocation-wrapper {
        min-height: 600px;
        height: 600px;
    }
    .gmap iframe {
        height: 600px !important;
        pointer-events: none;
    }
    .contact-blocks-wrapper {
        max-width: 932px;
        height: 600px;
        width: 91%;
    }
    .contact-block {
        max-width: 335px;
    }
    .contact-block--info {
        padding-left: 25px;
    }
    .order-block-title {
        font-size: 24px;
        line-height: 1.76;
        margin-top: 17px;
        margin-bottom: 50px;
    }
    .order-info-title {
        font-size: 17px;
        margin-top: 10px;
    }
    .contact-block--order .call_participate {
        width: 268px;
        height: 71px;
        font-size: 21px;
        margin-bottom: 38px;
        padding-top: 9px;
    }
    .order-info-title::after {
        width: 64px;
    }
    .contact-list {
        font-size: 16px;
        padding-left: 25px;
    }
    .contact-list-item {
        margin: 14px auto;
    }
    .contact-list-item::after {
        top: 2px;
    }
    /*===============SITE_____FOOTER*/
    .footer-wrapper {
        width: 90%;
        max-width: 1200px;
    }
    .footer-block-1 {
        flex-basis: 196px;
    }
    .footer-block-2 {
        flex-basis: 400px;
        margin-top: 37px;
    }
    .footer-block-2 .small {
        font-size: 19px;
    }
    .footer-block-2 .inner-link {
        font-size: 17px;
    }
    .footer-block-3 {
        flex-basis: 208px;
        margin-top: 37px;
        justify-content: space-between;
    }
    .footer-block-3 .call--link {
        flex-basis: 42px;
    }
    .footer-block-3 .phone-list-item:nth-of-type(1) {
        margin-bottom: 4px;
    }
    .footer-block-3 .call-link-number {
        font-size: 17px;
    }
    .footer-socials {
        max-width: 113px;
    }
    .social-img-wrapper {
        flex-basis: 52px;
        height: 52px;
    }
}

@media only screen and (min-width:1200px) {
    /* ======@media COMMON RULES======*/
    .title--primary {
        font-size: 50px;
        /* font-size: 25px;*/
    }
    .title--secondary {
        /*font-size: 20px;*/
    }
    .title-secondary--bigger {
        /*font-size: 20px;*/
    }
    .title-secondary-smaller {
        /*font-size: 14px;*/
    }
    .title--tertiary {
        /*font-size: 16px;*/
    }
    .title-quaternary {
        /* font-size: 12px;*/
    }
    .title-quarternary-smaller {
        /* font-size: 12px;*/
    }
    .time-and-place {
        /* font-size: 20px;*/
    }
    .time-dots--after::after {
        /* left: -26%;*/
    }
    .icon-inblock-wrapper .icon-wrapper {
        width: 22px;
        height: 28px;
    }
    /*===============SITE_____HEADER*/
    .header-top {
        min-height: 72px;
        padding-left: 7%;
        padding-right: 7%;
    }
    .header-top .wrapper-logo {
        flex-basis: 160px
    }
    .wrapper-logo .logo-link {
        line-height: 72px;
    }
    .header-top .call-info {
        flex-basis: 178px;
    }
    .call--link {
        flex-basis: 35px;
    }
    .phone-list {
        flex-basis: 140px;
    }
    .site-header .phone-list-item:nth-of-type(1) {
        margin-bottom: 7px;
    }
    .call-link-number {
        font-size: 14px;
    }
    .header-title {
        max-width: 770px;
        line-height: 2em;
        margin-top: 24px;
    }
    .header-title::after {
        width: 122px;
        left: 41%;
    }
    .header-bottom .time-and-place {
        font-size: 35px;
    }
    .header-preferences {
        max-width: 660px;
        padding-bottom: 55px;
        padding-left: 170px;
    }
    .header-bottom .title--tertiary {
        font-size: 28px;
    }
    .preferences-list-item {
        font-size: 24px;
    }
    .preferences-list-item:not(:last-child) {
        margin-bottom: 26px;
    }
    .icon-checked--big::after {
        width: 42px;
        height: 42px;
    }
    .preferences-list-item::after {
        left: -8.2%;
    }
    .hidden-lg {
        display: none;
    }
    .visible-lg {
        display: flex;
    }
    /*===============WORKSHOP_____QUESTIONS*/
    .workshop_questions {
        padding-bottom: 45px;
    }
    .workshop-questions-title {
        font-size: 40px;
        margin: 0.89em auto;
    }
    .workshop-questions-title::after {
        bottom: -0.3em;
        left: 45%;
    }
    .hero_answers {
        max-width: 735px;
        /*  max-width: 760px;*/
    }
    .wrapper-hero_answer {
        /* min-height: 61px;
margin-bottom: 15px;*/
    }
    .wrapper-hero_answer:last-of-type {
        min-height: 84px;
        /* min-height: 66px*/
    }
    .answer-number {
        /* flex-basis: 52px;
font-size: 34.5px;*/
    }
    /*===============WORKSHOP_____COUNTDOWN*/
    .countdown-wrapper {
        padding-bottom: 50px;
    }
    .workshop-countdown-title,
    .timer-title {
        font-size: 36px;
    }
    .workshop-countdown-title {
        font-size: 36px;
        margin-top: 43px;
    }
    .timer-title {
        margin-top: 30px;
    }
    .workshop-countdown .countdown__timer,
    .workshop-prices .countdown__timer {
        max-width: 560px;
        height: 74px;
    }
    .workshop-countdown .countdown__timer {
        margin-bottom: 74px;
    }
    .workshop-countdown .countdown__block,
    .workshop-prices .countdown__block {
        flex-basis: 109px;
        font-size: 79px;
        line-height: 0.92;
    }
    .workshop-countdown .countdown__block::after,
    .workshop-prices .countdown__block::after {
        font-size: 79px;
    }
    .timer__text,
    .workshop-prices .timer__text {
        width: 109px;
        font-size: 20px;
    }
    .workshop-countdown .call_participate {
        width: 244px;
        height: 53px;
        font-size: 23px;
        line-height: 53px;
    }
    /*===============WORKSHOP_____BENEFITS*/
    .benefits-title {
        font-size: 40px;
        margin-top: 24px;
    }
    .benefits-wrapper {
        max-width: 1125px;
    }
    .benefits-title::after {
        width: 122px;
    }
    .benefit-img--round {
        width: 180px;
        height: 180px;
    }
    .benefit-descrp {
        font-size: 21px;
        margin-bottom: 36px;
    }
    /*===============WORKSHOP_____GOALS*/
    .goals-title {
        font-size: 40px;
        margin-top: 23px;
        margin-bottom: 58px;
    }
    .goals-title:after {
        width: 122px;
    }
    .goals-wrapper {
        max-width: 1065px;
    }
    .goal-block {
        flex-basis: 284px;
        margin-bottom: 46px;
        padding: 24px 26px 42px 29px;
    }
    /*IMAGES===layer 0&1====*/
    .goal-img {
        width: 284px;
        height: 260px;
    }
    /*TITLE & STROKE=====layer 2==*/
    .goal-block::after {
        width: 62px;
        left: 41px;
        top: 261px;
    }
    .goal-single-title {
        left: 41px;
        top: 166px;
    }
    .goal-single-title.goal-2stroke-title {
        top: 196px;
    }
    .goal-descrp {
        font-size: 17px;
        margin-top: 30px;
    }
    /*===============WORKSHOP_____AIDA*/
    .athention-block .athention-pretitle {
        font-size: 30px;
        margin-top: 1em;
    }
    .athention-title--big {
        font-size: 36px;
    }
    .athention-title--regular {
        font-size: 30px;
        margin-top: 10px;
    }
    .athention-block .time-and-place {
        font-size: 35px;
        margin-bottom: 26px;
    }
    .int-desire-title {
        font-size: 40px;
        margin-bottom: 48px;
    }
    .int-desire-title::after {
        width: 122px;
    }
    .desire-wrapper {
        width: 956px;
        padding-bottom: 40px;
    }
    .desire-block-1 {
        flex-basis: 452px;
    }
    .desire-block-2 {
        flex-basis: 420px;
    }
    .desire-list--item {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .desire-list--item:after {
        width: 24px;
        height: 24px;
        left: -37px;
        top: 0;
    }
    .action-block-title {
        font-size: 35px;
        margin-top: 37px;
        margin-bottom: 26px;
    }
    .action-block .call_participate {
        width: 262px;
        height: 74px;
        font-size: 23px;
        padding-top: 10px;
        margin-bottom: 43px;
    }
    /*===============WORKSHOP_____CORRESPOND*/
    .fits-wrapper {
        max-width: 1100px;
        margin: 0 auto;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .fit-block {
        flex-basis: 506px;
    }
    .fit-block:nth-of-type(1) {
        margin-bottom: 0;
    }
    .fits-title {
        font-size: 30px;
        margin-bottom: 1.8em;
    }
    .fits-title::after {
        width: 62px;
        bottom: -65%;
    }
    .fit-list {
        font-size: 17px;
        padding: 30px 43px 33px 85px;
    }
    .fit-block:nth-of-type(2) .fit-list {
        padding-bottom: 55px;
    }
    .fit-list-item:nth-of-type(n) {
        margin-bottom: 15.5px;
    }
    .notfit-list-item:nth-of-type(3n+1) {
        margin-bottom: 16px;
    }
    .fit-list-item::after,
    .notfit-list-item::after {
        width: 23px;
        height: 23px;
        left: -37px;
    }
    .workshop-correspond .call_participate {
        width: 262px;
        height: 74px;
        margin: 45px auto 40px;
    }
    /*===============WORKSHOP_____MANIFEST*/
    .manifest {
        max-width: 930px;
        margin: 0 auto;
    }
    .manifest-block {
        flex-basis: auto;
    }
    .manifest-block-1 {
        font-size: 40px;
    }
    .manifest-block-2 {
        font-size: 28px;
        margin-bottom: 31px;
    }
    .manifest-block-3 {
        max-width: 100%;
        font-size: 20px;
        line-height: 1.85;
    }
    .manifest-block-2:after {
        width: 125px;
        max-width: 125px;
        left: 42%;
    }
    .manifest-block-4 {
        font-size: 33px;
        max-width: 100%;
    }
    /*===============WORKSHOP_____PROGRAM*/
    .title-program {
        font-size: 40px;
    }
    .title-program:after {
        max-width: 125px;
        left: 44%;
    }
    .curriculum-wrapper {
        max-width: 1110px;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .curriculum-block {
        flex-basis: 501px;
    }
    .curriculum-issue {
        height: 100px;
        font-size: 17px;
        margin-bottom: 1.118em;
    }
    .curriculum-block:nth-of-type(1) .curriculum-issue:nth-last-child(2) {
        margin-bottom: 0;
    }
    .curriculum-title--block {
        height: 100px;
    }
    .curriculum-issue--title {
        padding-left: 24px;
    }
    .issue-number {
        flex-basis: 70px;
    }
    #hidden_descrp5 {
        margin-top: 0px;
    }
    #lg-hidden_descrp9,
    #lg-hidden_descrp10 {
        margin-top: 19px;
    }
    .workshop-program .call_participate {
        width: 262px;
        height: 74px;
        font-size: 23px;
        margin: 1.85em auto;
    }
    /*===============WORKSHOP_____BONUSES*/
    .workshop-bonuses-header {
        margin-bottom: 40px;
    }
    .workshop-bonuses-title {
        font-size: 40px;
        line-height: 51px;
        margin: 44px auto;
    }
    .wrapper-bonuses {
        max-width: 1110px;
        margin-bottom: 45px;
    }
    .bonus--block {
        flex-basis: 338px;
        padding-left: 27px;
        padding-right: 27px;
    }
    .bonus-img {
        width: 285px;
        height: 260px;
    }
    .bonus-title {
        left: 44px;
        font-size: 23px;
    }
    .bonus-title-1 {
        top: 224px;
    }
    .bonus-title-2 {
        top: 195px;
    }
    .bonus-title-3 {
        top: 168px;
    }
    .bonus--block:after {
        width: 65px;
        top: 263px;
        left: 44px;
    }
    .bonus-descrp {
        font-size: 17px;
        margin-top: 31px;
    }
    .bonus-footer-title {
        font-size: 33px;
        line-height: 1.54;
        margin-top: 32px;
    }
    .workshop_bonuses-footer .call_participate {
        font-size: 23px;
        width: 244px;
        height: 67px;
        padding;
        top: 6px;
    }
    /*===============WORKSHOP_____SERTIFICATE*/
    .results-block-wrapper {
        margin-top: 0;
    }
    .results-block {
        width: 86%;
        max-width: 1200px;
    }
    .results-wrapper {
        flex-wrap: nowrap;
        margin-bottom: 64px;
    }
    .results-title {
        font-size: 40px;
        margin: 40px auto 58px 0px;
    }
    .results-title::after {
        width: 125px;
        bottom: -29px;
    }
    .result-block-img {
        flex-basis: 528px;
        height: 327px;
        margin-right: 20px;
    }
    .result-block-text {
        flex-basis: 630px;
        font-size: 17px;
        transform: translateY(-9px);
        /*Add transform to fit the mockup */
    }
    .result--descrp {
        line-height: 2;
    }
    .sertificate-block-title {
        font-size: 35px;
        line-height: 1.43;
        margin-top: 36px;
        margin-bottom: 22px;
    }
    .sertificate-img-wrapper {
        width: 48%;
        max-width: 600px;
        margin-bottom: 36px;
        padding: 16px;
    }
    .sertificate-footer-wrapper.flex-parent-sm {}
    .sertificate-footer-title {
        font-size: 33px;
        flex-basis: 774px;
    }
    .sertificate-link-wrapper {
        flex-basis: 274px;
    }
    .workshop_sertificate-footer .call_participate {
        font-size: 23px;
        width: 274px;
        height: 67px;
    }
    .workshop_sertificate-footer .time-and-place {
        font-size: 28px;
        margin-bottom: 15px;
    }
    /*===============WORKSHOP_____TEACHER*/
    .workshop-teacher-title.title-secondary {
        font-size: 36px;
    }
    .workshop-teacher-title.title--tertiary {
        font-size: 25px;
    }
    .workshop-teacher-title.title--tertiary::after {
        width: 125px;
    }
    .teacher-block-wrapper {
        max-width: 1075px;
        padding: 21px 42px 74px 42px;
    }
    .teacher-block {
        margin-top: 45px;
    }
    .teacher-portrait {
        flex-basis: 300px;
        max-width: 300px;
    }
    .teacher-name {
        font-size: 26px;
    }
    .teacher-sertificate {
        flex-basis: 542px;
        margin-right: 5%;
    }
    /*===SLIDER====START*/
    .slider-item-wrapper {
        max-width: 574px !important;
    }
    .control-slider {
        width: 22px;
        height: 42px;
    }
    /*===SLIDER====END*/
    .teacher--descrp {
        font-size: 21px;
        margin: 1em auto;
    }
    /*===============WORKSHOP_____PRICES*/
    .prices-wrapper {
        max-width: 1200px;
        width: 92%;
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .prices-block1 {
        flex-basis: 565px;
    }
    .block1-title {
        font-size: 36px;
    }
    .block1-title--question {
        line-height: 1.11;
        margin-bottom: 50px;
    }
    .block1-title--caution {
        margin-bottom: 16px;
    }
    .prices-block1 .call_participate {
        width: 274px;
        height: 67px;
        font-size: 23px;
        margin-bottom: 50px;
    }
    .text-gift {
        font-size: 26px;
    }
    .text-more {
        font-size: 18px;
    }
    .block2-title {
        font-size: 36px;
    }
    .date-tobuy {
        font-size: 30px;
        margin: 25px auto;
    }
    .extra_info {
        font-size: 18px;
    }
    .pricelist-last-stroke::after {
        width: 50px;
        bottom: -0.45em;
    }
    /*===============WORKSHOP_____WARRANTY*/
    .warranty-text {
        flex-basis: 640px;
    }
    .warranty-img-wrapper {
        max-width: 255px;
        margin: 56px 0px 62px auto;
    }
    .warranty-title {
        font-size: 36px;
        margin-top: 67px;
        margin-bottom: 46px;
    }
    .warranty-title::after {
        width: 125px;
    }
    .warranty-descrp {
        font-size: 21px;
    }
    /*===============WORKSHOP_____PS*/
    .ps-wrapper {
        max-width: 1200px;
        padding-left: 56px;
    }
    .ps-title {
        font-size: 30px;
        margin-top: 38px;
        margin-bottom: 53px;
    }
    .ps-questions-block {
        font-size: 25px;
        width: 840px;
        padding-left: 120px;
    }
    .ps-question {
        margin: 22px auto;
    }
    .ps-question::after {
        width: 30px;
        height: 30px;
    }
    .ps-footer-title {
        font-size: 30px;
        padding-right: 1.25vw;
    }
    /*===============WORKSHOP_____BAGGAGE*/
    .baggage-list {
        padding-left: 38px;
        margin-top: 41px;
    }
    .baggage-title {
        font-size: 36px;
        margin-top: 47px;
    }
    .baggage-title:after {
        width: 125px;
    }
    .baggage-descrp {
        font-size: 25px;
    }
    .baggage-descrp::after {
        width: 24px;
        height: 24px;
    }
    .baggage-text-wrapper {
        flex-basis: 650px;
    }
    .baggage-img-wrapper {
        flex-basis: 520px;
    }
    /*===============WORKSHOP_____MAP*/
    .contact-blocks-wrapper {
        max-width: 1100px;
    }
    .order-info-title {
        font-size: 19px;
        margin-top: 23px;
    }
    .order-info-title::after {}
    .contact-list {
        margin-top: 28px;
    }
    .contact-list-item {
        margin: 11px auto;
    }
    /*===============SITE_____FOOTER*/
    .footer-wrapper {
        padding: 0;
    }
    .footer-block-1 {
        flex-basis: 160px;
        padding: 0;
    }
    .footer-block-2 {
        flex-basis: 640px;
        order: 3;
        margin-top: 30px;
    }
    .footer-block-2 .small {
        font-size: 14px;
    }
    .footer-block-2 .inner-link {
        font-size: 12px;
    }
    .footer-block-2 .inner-link-list {
        margin: 0;
    }
    .footer-block-3 {
        order: 4;
        flex-basis: 175px;
        margin-top: 20px;
        margin-left: 110px;
    }
    .footer-block-3 .call--link {
        flex-basis: 34px;
    }
    .footer-block-3 .phone-list-item:nth-of-type(1) {}
    .footer-block-3 .call-link-number {
        font-size: 14px;
    }
    .footer-block-4 {
        flex-basis: 105px;
        order: 2;
    }
    .footer-socials {
        margin: 20px 0px 0px auto;
        max-width: 70px;
    }
    .social-img-wrapper {
        flex-basis: 32px;
        height: 32px;
    }
}
