/*MODAL WINDOW with ontraport*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    width:96%;
     max-width: 500px;
    background-color:rgba(0,66,107,1);
    color:#fff;
    margin: 5% auto auto; 
    padding: 15px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.modal-content-wrapper {
    width:100%;
	max-width:450px;
	margin:0 auto;
	padding:0;
}




/* The Close Button */
.close {
	 display: block;
    font-size: 21px;
    position: absolute;
    z-index: 99999;
    top: -8px;
    right: -8px;
    width: 26px;
    height: 26px;
    color: white;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    background: black;
    border: 2px solid white;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    opacity: 1;
}
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
	display: inline-block;
    overflow: hidden;
    line-height: 1.2;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word!important;
    word-break: normal!important;
    border:none;
    padding:0;
    font-family: "Open Sans";
}
.modal-header-title {
    font-size: 26px;
    margin:13px auto 0px;

}
.modal-body {
    padding: 0;
} 
.reg-form-wrapper {
    overflow: hidden;
    width: 100%;
    max-width:335px;
    margin:30px auto 25px;
}
.reg-form-label {
    font-size:14px;
    font-family: "Raleway", 'Roboto', sans-serif;
}
.reg-form-input {
    box-sizing: border-box;
   display: block;
   overflow: hidden;
   width: 100%;
     border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  line-height: 34px;

  font-size: 16px;
}
.reg-form-input:not(.reg-form-input-submit) {
  margin:0px auto 12px;
  background : rgba(255, 255, 255, 1);
  border:1px solid rgba(146, 161, 189, 1);
  color:#333;

}


.reg-form-input-submit {
  margin:21px auto 0;
  background : rgba(249, 197, 33, 1);
  border:1px solid rgba(249, 197, 33, 1);
   font-family: "Raleway", 'Roboto', sans-serif;
   font-weight:bold;
   color:#000;
}
.modal-footer {
    overflow: hidden;
    padding-top: 16px;
    border-top:1px solid rgba(146, 161, 189, 1);
}
.privacy-policy {
   margin:0 auto;
   text-align: center;
   font-size: 14px;
   font-family:"Raleway", 'Roboto', sans-serif;
}
.privacy-policy-text {
    margin:0;
}

