/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.agreement-wrapper,
.disclaimer-wrapper,
.guarantee-wrapper {
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 66, 107, 0.75), rgba(0, 66, 107, 0.75)), url(../../img/references/pd-bg.jpg) no-repeat;
    background-size: 238%;
    text-align: justify;
}

.agreement-wrapper {
    background-position: -965px 98%;
}

.disclaimer-wrapper {
    background-position: -1065px 63%;
}
.guarantee-wrapper {
    background-position: 50% 50%;
}
.agreement,
.disclaimer,
.guarantee {
    box-sizing: border-box;
    width: 95%;
    max-width: 1265px;
    margin: 30px auto 20px;
    padding: 25px 20px 23px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
}

.agreement-block,
.disclaimer-block,
.guarantee-block {
    margin: 2em auto;
}
.guarantee-block-1 {
    margin-bottom: 1em;
}
.guarantee-block-2 {
    margin-top: 1em;
}
.agreement-title,
.disclaimer-title,
.guarantee-title {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.agreement-title::after,
.disclaimer-title::after,
.guarantee-title::after {
    width: 80px;
    bottom: -0.8em;
        left: 39%;
}

.agreement-text,
.disclaimer-text,
.guarantee-text {
    margin: 0;
}

.agreement-conclusion {
    font-size:16px;
    text-align: center;
}
.pd-list,
.pd-action-list {
    list-style: none;
    padding-left: 2em;
}

.pd-action-list {
    margin: 0;
}
.guarantee-list {
    list-style: none;
    padding-left: 0.8em;
}
.pdlist-item {
    position: relative;
}

.pdlist-item::before {
    position: absolute;
    content: '\2022';
    width: 1em;
    height: 1em;
    top: 0;
    left: -46px;
    font-size: 1.62em;
    color: #333;
}
.guarantee-list .pdlist-item::before{
    left:-20px;
}
.footer-guarantee-text {
    text-align: left;
    padding-left:1em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.yellow-stroke--after {
    position: relative;
}

.yellow-stroke--after::after {
    position: absolute;
    content: "";
    display: block;
    z-index: 2000;
    height: 3px;
    background-color: rgba(249, 197, 33, 1);
    border-radius: 1.5px;
}

.last-list-item {
    margin-bottom: 0;
}


/* ==========================================================================
  Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 600px) {
    .agreement-title::after,
.disclaimer-title::after,
.guarantee-title::after {
    width: 100px;
    bottom: -0.9em;
        left: 42%;
}
}
@media only screen and (min-width:768px) {
    .visible-xs {
        display: none;
    }
    .agreement-wrapper,
    .disclaimer-wrapper,
    .guarantee-wrapper {
        text-align: left;
    }
    .agreement,
.disclaimer,
.guarantee {
    padding: 45px 38px 27px;
}
.guarantee-list {
    padding-left:1em;
}
}




@media only screen and (min-width:992px) {
    html {
        font-size: 22px;
        line-height: 35px;
    }
    .agreement,
    .disclaimer,
    .guarantee {
        width: 91%;
    }
    .agreement-title,
    .disclaimer-title,
    .guarantee-title {
        font-size: 30px;
    }
    .agreement-title::after,
    .disclaimer-title::after,
    .guarantee-title::after {
        left: 44%;
        width: 150px;
    }
    .agreement-conclusion {
    font-size:28px;

} 
}
